/* line 5, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 25, ../sass/app/_drupal.scss */
div.styleguide {
  border: none;
}

/* line 5, ../sass/app/_drupal/_drupal-lists.scss */
body ol, body ul {
  display: block;
  margin-top: 10px;
}

/* line 9, ../sass/app/_drupal/_drupal-lists.scss */
body ol {
  list-style-type: disc;
}

/* line 12, ../sass/app/_drupal/_drupal-lists.scss */
body ul {
  list-style-type: decimal;
}

/* line 23, ../sass/app/_drupal/_drupal-lists.scss */
li.leaf.active-trail {
  background-image: none;
}

/* line 27, ../sass/app/_drupal/_drupal-lists.scss */
ul li ul {
  margin-left: 10px;
  margin-bottom: 10px;
}

/* line 31, ../sass/app/_drupal/_drupal-lists.scss */
ul li ul li {
  list-style-type: square;
  list-style-image: none;
}

/*-----------------------------------------------------------------------------------*/
/*  custom message styles
/*-----------------------------------------------------------------------------------*/
/* line 6, ../sass/app/_drupal/_drupal-messages.scss */
div.taxonomy-description.messages.status {
  background-image: url("../images/info-box-icon.png");
  background-position: 0 0;
}

/* line 10, ../sass/app/_drupal/_drupal-messages.scss */
#node-210 div.messages.warning {
  background-image: url("../images/warn-box-icon-sm.png");
  background-position: 0 0;
  padding-left: 95px;
}

/* line 15, ../sass/app/_drupal/_drupal-messages.scss */
#node-210 div.messages.warning p,
#node-210 div.messages.warning p:first-child:first-line {
  font-size: 14px;
  font-family: inherit;
  margin-top: 0;
  font-style: oblique;
}

/*pagers*/
/* line 5, ../sass/app/_drupal/_drupal-pager.scss */
.item-list ul.pager li {
  margin-left: 1px;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

/* Pagination */
/* line 14, ../sass/app/_drupal/_drupal-pager.scss */
.pagination li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

/* line 19, ../sass/app/_drupal/_drupal-pager.scss */
.pagination a {
  background-color: transparent;
  font-size: 0.9em;
  display: inline-block;
  border-left-width: 1px;
}

/* line 2, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table {
  margin-bottom: 35px;
}

/* line 5, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #ECECEC;
  margin-left: -1px;
  width: 100%;
}

/* line 11, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .heading {
  background: none repeat scroll 0 0 #7DA817;
  height: 40px;
}

/* line 15, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .heading td.features {
  border: 1px solid #ECECEC !important;
  color: #707070;
  text-transform: uppercase;
}

/* line 20, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .heading .features {
  background: none repeat scroll 0 0 #FFFFFF;
}

/* line 23, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .heading td {
  border: 1px solid #6f9614;
  font: 16px 'PT Sans',sans-serif;
  padding-top: 10px;
  text-align: center;
}

/* line 29, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .heading td {
  border: 1px solid #6f9614;
  color: #FFFFFF;
  /*font: 16px 'Droid Sans',sans-serif;*/
  padding-top: 10px;
  text-align: center;
}

/* line 36, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .included td {
  border-bottom: 1px solid #F0F0F0;
  border-right: 1px solid #E9E9E9;
  color: #888888;
  /*font: 12px/30px 'Droid Sans',sans-serif;*/
  padding-top: 10px;
  text-align: center;
}

/* line 44, ../sass/app/_drupal/_drupal-tables.scss */
.regular-table .table-data .included.colored {
  background: none repeat scroll 0 0 #FAFAFA;
}

/* line 5, ../sass/app/_drupal/_drupal-type.scss */
body dl {
  margin: 15px 0 10px 5px;
}

/* line 8, ../sass/app/_drupal/_drupal-type.scss */
body dt {
  margin: 15px 0 10px 5px;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 600;
  font-size: 105%;
  display: inline-block;
}

/* line 15, ../sass/app/_drupal/_drupal-type.scss */
body dd {
  margin: 2px 0 2px 3px;
  font-style: italic;
}

/*-----------------------------------------------------------------------------------*/
/*   Comments
/*-----------------------------------------------------------------------------------*/
/* line 4, ../sass/app/_drupal/_drupal-comments.scss */
.comments .textarea {
  border: 1px solid #EDEDED;
  margin-bottom: 40px;
  margin-left: 94px;
  padding: 10px 20px;
  position: relative;
}

/* line 11, ../sass/app/_drupal/_drupal-comments.scss */
.comments .avatar {
  position: relative;
  float: left;
  margin-right: -5px;
}

/* line 16, ../sass/app/_drupal/_drupal-comments.scss */
.comments .comments-list {
  list-style: none !important;
}

/* line 19, ../sass/app/_drupal/_drupal-comments.scss */
.comments .comments-list ul {
  margin-left: 30px;
  margin-bottom: 20px;
}

/* line 23, ../sass/app/_drupal/_drupal-comments.scss */
.comments .meta {
  font: 12px 'Open Sans', serif;
  color: #666666;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px dotted #e2e2e2;
}

/* line 30, ../sass/app/_drupal/_drupal-comments.scss */
.comments ul ul .textarea {
  margin-top: -20px;
}

/* Animated throbber */
/* line 7, ../sass/app/_drupal/_drupal-misc.scss */
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px;
  /* LTR */
  background-repeat: no-repeat;
}

/* line 12, ../sass/app/_drupal/_drupal-misc.scss */
html.js input.throbbing {
  background-position: 100% -18px;
  /* LTR */
}

/* line 18, ../sass/app/_drupal/_drupal-misc.scss */
.views-exposed-widget.views-submit-button {
  float: right;
  left: 55px;
  top: -25px;
  position: relative;
}

/* Throbber */
/* line 30, ../sass/app/_drupal/_drupal-misc.scss */
.ajax-progress {
  float: right;
  height: 30px;
  width: 80px;
  position: relative;
  left: 0;
  top: -20px;
}

/* line 47, ../sass/app/_drupal/_drupal-misc.scss */
.ajax-progress .throbber {
  /*
   background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
   float: left;
   height: 15px;
   margin: 2px;
   width: 15px;
   */
  margin: 0 0 0 30px;
  float: none;
  background-image: none;
}

/*
.ajax-progress .message {
  padding-left: 20px;
}
*/
/*
tr .ajax-progress .throbber {
  margin: 0 2px;
}
*/
/*
.ajax-progress-bar {
  width: 16em;
}
*/
/*
.throbber,
.throbber:before,
.throbber:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 7px; //1em;
  //height: 8em; // 4em;
}
.throbber:before,
.throbber:after {
  position: absolute;
  top: 0;
  content: '';
}
.throbber:before {
  left: -12px; //-1.5em;
}
.throbber {
  text-indent: -9999em;
  //margin: 8em auto;

  position: relative;
  font-size: 6px; //11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.throbber:after {
  left: 14px; //1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 20px; //4em;
  }
  40% {
    box-shadow: 0 -1em #cccccc;
    height: 25px; //5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 20px; //4em;
  }
  40% {
    box-shadow: 0 -1em #cccccc;
    height: 25px; //5em;
  }
}
*/
/* line 137, ../sass/app/_drupal/_drupal-misc.scss */
.throbber:before,
.throbber:after,
.throbber {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: throbber-anim 1.8s infinite ease-in-out;
  animation: throbber-anim 1.8s infinite ease-in-out;
}

/* line 148, ../sass/app/_drupal/_drupal-misc.scss */
.throbber {
  margin: 8em auto;
  font-size: 6px;
  position: relative;
  top: -6px;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}

/* line 157, ../sass/app/_drupal/_drupal-misc.scss */
.throbber:before {
  left: -3em;
}

/* line 160, ../sass/app/_drupal/_drupal-misc.scss */
.throbber:after {
  left: 2.8em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}

/* line 165, ../sass/app/_drupal/_drupal-misc.scss */
.throbber:before,
.throbber:after {
  content: '';
  position: absolute;
}

@-webkit-keyframes throbber-anim {
  /* line 172, ../sass/app/_drupal/_drupal-misc.scss */
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #648449;
  }

  /* line 177, ../sass/app/_drupal/_drupal-misc.scss */
  40% {
    box-shadow: 0 2.5em 0 0 #648449;
  }
}
@keyframes throbber-anim {
  /* line 182, ../sass/app/_drupal/_drupal-misc.scss */
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #648449;
  }

  /* line 187, ../sass/app/_drupal/_drupal-misc.scss */
  40% {
    box-shadow: 0 2.5em 0 0 #648449;
  }
}
/* line 17, ../sass/app/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/app/_base.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 33, ../sass/app/_base.scss */
.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  margin-bottom: 30px;
  height: 0;
  overflow: hidden;
}

/* line 42, ../sass/app/_base.scss */
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video container */
/* line 53, ../sass/app/_base.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 106, ../../../../../../../../../../Users/raynimmo/.rvm/gems/ruby-2.1.2@global/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.28571em;
}

/* line 67, ../sass/app/_base.scss */
html > body {
  color: #787878;
  font-size: 14px;
  font-family: "chaparral-pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
  /* @include font-smoothing(antialiased);*/
  background-color: #eff3eb;
  background-image: url(../images/body-bg.png);
  background-repeat: repeat;
  /*overflow-x:hidden;*/
}

/* line 82, ../sass/app/_base.scss */
.element-invisible {
  display: none;
}

/* line 86, ../sass/app/_base.scss */
.last {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

/* line 91, ../sass/app/_base.scss */
.clear {
  clear: both;
}

/* line 93, ../sass/app/_base.scss */
.alignleft,
.floatleft {
  float: left !important;
}

/* line 95, ../sass/app/_base.scss */
.alignright,
.floatright {
  float: right !important;
}

/* line 97, ../sass/app/_base.scss */
.aligncenter {
  text-align: center !important;
}

/*
body{
    $total-columns:12;
    $column-width:5em;
    $gutter-width: 1em;
    $grid-padding: $gutter-width;
    @include container;
    //@include susy-grid-background;
}
*/
/* line 36, ../sass/app/_layout.scss */
header,
nav,
section,
article {
  display: block;
}

/* line 42, ../sass/app/_layout.scss */
.top-social {
  float: right;
  width: 49%;
  margin-left: 0;
}

/* line 51, ../sass/app/_layout.scss */
#header {
  /*background: none repeat scroll 0 0 #FFFFFF;*/
  background: url(../images/header-bg.png) repeat scroll 0 0 white;
  border-bottom: 1px solid #E7E7E7;
  border-top: 4px solid #7DA817;
  padding-bottom: 10px;
  padding-top: 30px;
  position: relative;
}

/* line 60, ../sass/app/_layout.scss */
#header:after {
  border-color: #7DA817 transparent -moz-use-text-color;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-style: solid solid none;
  border-width: 10px 10px 0;
  /*
  content: "";
  left: 50%;
  */
  margin-left: -10px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

/* line 77, ../sass/app/_layout.scss */
#header .logo {
  float: left;
  margin-left: 30px;
}

/* line 82, ../sass/app/_layout.scss */
#header .logo img {
  float: left;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* line 91, ../sass/app/_layout.scss */
.page-top-second {
  float: right;
  width: 65%;
  /*294px*/
  min-width: 294px;
  max-width: 300px;
}

/* line 98, ../sass/app/_layout.scss */
.page-top-third {
  float: right;
  width: 35%;
}

/* line 102, ../sass/app/_layout.scss */
.page-top-third .region {
  padding-bottom: 10px;
}

/* line 109, ../sass/app/_layout.scss */
.container {
  position: relative;
}

/* line 111, ../sass/app/_layout.scss */
#container {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  position: relative;
  background-color: #fff;
  /*textured svg backgrounds*/
  /*Base64 CSS (for cross-browser compatibility)*/
  /*white carbon*/
  /*
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZWVlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
  */
  /*white dots*/
  /*
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+"); 
  background-repeat: repeat;
  */
}

/* line 128, ../sass/app/_layout.scss */
#container .container {
  padding: 25px 0;
}
@media screen and (max-width: 495px) {
  /* line 128, ../sass/app/_layout.scss */
  #container .container {
    padding: 10px 0;
  }
}

/* line 137, ../sass/app/_layout.scss */
#container .container > .row {
  margin-bottom: 10px;
}

/* line 138, ../sass/app/_layout.scss */
#container .row.last {
  margin-bottom: 30px;
}

/* line 139, ../sass/app/_layout.scss */
.row.da-thumbs {
  margin-bottom: 0 !important;
}

/*hide larger image served by views*/
/* line 141, ../sass/app/_layout.scss */
.da-thumbs a > img {
  display: none;
}

/* line 146, ../sass/app/_layout.scss */
#main-content {
  text-align: left;
  padding: 0 10px;
  margin-bottom: 45px;
}

/* line 151, ../sass/app/_layout.scss */
body.no-sidebars #main-content {
  margin-left: 10px;
  padding-left: 0px;
}

/* line 156, ../sass/app/_layout.scss */
#main-content .section {
  clear: both;
  margin-bottom: 20px;
}

/* line 161, ../sass/app/_layout.scss */
.front #main-content {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 45px;
}

/* Sidebars */
/* line 172, ../sass/app/_layout.scss */
#sidebar,
.region-sidebar-first,
.region-sidebar-second {
  font-size: 14px;
}

/* line 176, ../sass/app/_layout.scss */
.region-sidebar-first {
  float: left;
  margin-left: 30px;
}

/* line 180, ../sass/app/_layout.scss */
.two-sidebars .region-sidebar-first {
  margin-left: 5px;
}

/* line 183, ../sass/app/_layout.scss */
.region-sidebar-second {
  float: right;
}

/* line 186, ../sass/app/_layout.scss */
.region-sidebar-first .block {
  margin-left: 10px;
}

/* line 189, ../sass/app/_layout.scss */
.region-sidebar-second .block {
  margin-bottom: 20px;
}

/* line 193, ../sass/app/_layout.scss */
#sidebar .title-divider {
  margin-bottom: 10px !important;
}

/* line 194, ../sass/app/_layout.scss */
#sidebar .divider-arrow {
  top: 10px !important;
}

/* line 195, ../sass/app/_layout.scss */
#sidebar li,
ul.weblinks li {
  list-style: none;
  padding-bottom: 13px;
  margin-bottom: 13px;
  border-bottom: 1px dotted #f2f2f2;
}

/* line 203, ../sass/app/_layout.scss */
#sidebar section {
  margin-bottom: 50px;
}

/* line 204, ../sass/app/_layout.scss */
#sidebar section:last-child {
  margin-bottom: 0px;
}

/* line 205, ../sass/app/_layout.scss */
#sidebar .ul-col2 {
  width: 110.9489051094891%;
}

/* line 206, ../sass/app/_layout.scss */
#sidebar .ul-col2 li {
  float: left;
  width: 40.13157894736842%;
  margin-right: 09.86842105263158%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #f2f2f2;
}

/* line 214, ../sass/app/_layout.scss */
#sidebar .ul-col2 a {
  color: #888;
}

/* line 215, ../sass/app/_layout.scss */
#sidebar .ul-col2 a:hover {
  color: #222;
}

/* line 218, ../sass/app/_layout.scss */
ul.weblinks {
  padding: 0;
  margin: 0;
}
/* line 222, ../sass/app/_layout.scss */
ul.weblinks li {
  list-style-type: none;
  list-style-image: none;
  line-height: 1em;
  margin-bottom: 25px;
  clear: both;
}
/* line 229, ../sass/app/_layout.scss */
ul.weblinks img {
  width: 60px;
  height: 60px;
}

/* line 243, ../sass/app/_layout.scss */
#footer {
  border-top: 1px solid #E7E7E7;
  padding-bottom: 45px !important;
  padding-top: 40px;
  position: relative;
}

/* line 250, ../sass/app/_layout.scss */
#footer li {
  margin-bottom: 10px;
  list-style: none;
}

/* line 255, ../sass/app/_layout.scss */
.single .span3 {
  width: 100%;
}

/* line 258, ../sass/app/_layout.scss */
.double .span3 {
  width: 48%;
}
@media (max-width: 770px) {
  /* line 258, ../sass/app/_layout.scss */
  .double .span3 {
    width: 45%;
  }
}
@media (max-width: 560px) {
  /* line 258, ../sass/app/_layout.scss */
  .double .span3 {
    width: 43%;
  }
}
@media (max-width: 470px) {
  /* line 258, ../sass/app/_layout.scss */
  .double .span3 {
    width: 96%;
    float: none;
  }
}

/* line 272, ../sass/app/_layout.scss */
.double .span3.first {
  margin-left: 20px;
  width: 47%;
}
@media (max-width: 979px) {
  /* line 272, ../sass/app/_layout.scss */
  .double .span3.first {
    width: 46%;
  }
}
@media (max-width: 770px) {
  /* line 272, ../sass/app/_layout.scss */
  .double .span3.first {
    width: 45%;
  }
}
@media (max-width: 560px) {
  /* line 272, ../sass/app/_layout.scss */
  .double .span3.first {
    width: 43%;
  }
}
@media (max-width: 470px) {
  /* line 272, ../sass/app/_layout.scss */
  .double .span3.first {
    width: 96%;
  }
}

/* line 289, ../sass/app/_layout.scss */
.triple .span3 {
  width: 21%;
}

/* line 293, ../sass/app/_layout.scss */
.triple .span3.first {
  margin-left: 20px;
  width: 47%;
}

/* line 297, ../sass/app/_layout.scss */
.quad .span3 {
  width: 25%;
}

/*
.none .span3 {
  width: 270px;
}
*/
/* line 2, ../sass/app/_typography.scss */
html, body, * {
  font-family: "chaparral-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
}

/* Headers */
/* line 10, ../sass/app/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555555;
  font-family: inherit;
}

/* line 21, ../sass/app/_typography.scss */
figure {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: top;
}

/* line 31, ../sass/app/_typography.scss */
strong {
  font-family: inherit;
  font-style: normal;
  font-weight: 600;
}

/* line 37, ../sass/app/_typography.scss */
em {
  font-family: inherit;
  font-style: italic;
  font-weight: 300;
}

/* line 43, ../sass/app/_typography.scss */
h1 {
  font-size: 35px;
  line-height: 45px;
  font-family: "open-sans", sans-serif;
  margin-bottom: 1px;
}
/* line 51, ../sass/app/_typography.scss */
#main-content h1 {
  color: #8fb76c;
  font-size: 44.8px;
  font-weight: 700;
  line-height: 54px;
  /*text-shadow: 1px 1px 0px #7DAA66;*/
}
/* line 58, ../sass/app/_typography.scss */
body.front.no-sidebars #main-content h1 {
  color: #435d2d;
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaf1e3;
  padding-bottom: 3px;
}
@media screen and (max-width: 495px) {
  /* line 58, ../sass/app/_typography.scss */
  body.front.no-sidebars #main-content h1 {
    font-size: 22px;
  }
}
@media screen and (max-width: 395px) {
  /* line 58, ../sass/app/_typography.scss */
  body.front.no-sidebars #main-content h1 {
    line-height: 32.4px;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
}
@media screen and (max-width: 384px) {
  /* line 58, ../sass/app/_typography.scss */
  body.front.no-sidebars #main-content h1 {
    line-height: 28px;
    padding: 0 20px 15px;
  }
}
/* line 82, ../sass/app/_typography.scss */
.not-front.two-sidebars.page-blog #main-content h1 {
  font-size: 35px;
  line-height: 28.8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaf1e3;
  padding-bottom: 3px;
}
@media screen and (max-width: 979px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 32.2px;
    line-height: 27px;
  }
}
@media screen and (max-width: 710px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 29.4px;
    line-height: 25.2px;
  }
}
@media screen and (max-width: 652px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 26.6px;
    line-height: 23.4px;
  }
}
@media screen and (max-width: 629px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 30.8px;
    line-height: 27.9px;
    text-align: center;
  }
}
@media screen and (max-width: 529px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 28px;
    line-height: 25.2px;
  }
}
@media screen and (max-width: 483px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 25.2px;
  }
}
@media screen and (max-width: 450px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 22.4px;
  }
}
@media screen and (max-width: 401px) {
  /* line 82, ../sass/app/_typography.scss */
  .not-front.two-sidebars.page-blog #main-content h1 {
    font-size: 19.6px;
  }
}
/* line 121, ../sass/app/_typography.scss */
.not-front.one-sidebar.node-type-page #main-content h1 {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaf1e3;
  padding-bottom: 3px;
}
/* line 127, ../sass/app/_typography.scss */
body.no-sidebars #main-content h1 {
  text-align: center;
  font-size: 35px;
  line-height: 36px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaf1e3;
  padding-bottom: 3px;
}
/* line 137, ../sass/app/_typography.scss */
body.maintenance-page #main-content h1 {
  margin: 5px 0 60px 20px !important;
}

/* line 145, ../sass/app/_typography.scss */
h2 {
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 15px;
}
/* line 150, ../sass/app/_typography.scss */
.node-page h2 {
  font-size: 28px;
  line-height: 32.4px;
  font-family: "open-sans-condensed", sans-serif;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  margin: 10px 0 0 0;
  padding: 0;
}
/* line 160, ../sass/app/_typography.scss */
h2.block-title {
  font-size: 25.2px;
  font-family: "open-sans-condensed", sans-serif;
}
/* line 164, ../sass/app/_typography.scss */
.maintenance-page #main-content h2 {
  margin: 5px 0 10px 20px;
  color: #5D7D43;
}

/* line 171, ../sass/app/_typography.scss */
h3 {
  font-size: 25.2px;
  margin-bottom: 10px;
  line-height: 24px;
  font-weight: 400;
}
/* line 177, ../sass/app/_typography.scss */
.node-page h3 {
  font-size: 25.2px;
  line-height: 120%;
  margin: 10px 0 0 0;
  font-family: "open-sans-condensed", sans-serif;
  color: #7DA817;
  padding: 0;
  letter-spacing: 0.04px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
}
/* line 189, ../sass/app/_typography.scss */
.node-page #inline-checklist h3 {
  color: #555555;
  font-size: 26.6px;
  font-family: "open-sans-condensed", sans-serif;
}
/* line 196, ../sass/app/_typography.scss */
.tagline h3 {
  display: block;
  /*width:95%;*/
  /*height:55px;*/
  /*100*/
  background-image: url(../images/header-bg-728x100.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 2.6em;
  line-height: 2em;
  font-family: "open-sans-condensed", sans-serif;
  color: #f6f4c2;
  text-align: right;
  vertical-align: text-top;
  text-indent: 75px;
  padding-top: 35px;
  padding-right: 15px;
}
/* line 216, ../sass/app/_typography.scss */
.portfolio h3 {
  margin-top: 20px;
  border-bottom: 1px dashed #efefef;
  margin-bottom: 10px;
  padding-bottom: 8px;
  font-size: 16px;
}
/* line 223, ../sass/app/_typography.scss */
.projects h3 {
  text-transform: uppercase;
  font-family: "open-sans-condensed", sans-serif;
}
/* line 227, ../sass/app/_typography.scss */
.title-divider h3 {
  background-color: #FFFFFF;
  display: inline-block;
  font-family: "open-sans-condensed", sans-serif;
  font-size: 17px;
  margin-bottom: 0 !important;
  padding-right: 5px;
  position: relative;
  text-transform: uppercase;
  z-index: 1000;
}

/* line 241, ../sass/app/_typography.scss */
#footer h2,
#footer h3 {
  margin-bottom: 25px;
  margin-top: 5px;
  font-size: 170%;
  font-family: "open-sans-condensed", sans-serif;
  color: #7DA817;
  padding: 0 0 15px 0;
  letter-spacing: 0.04px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
}

/* line 255, ../sass/app/_typography.scss */
h4 {
  font-size: 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 300;
  font-family: "open-sans-condensed", sans-serif;
}
/* line 264, ../sass/app/_typography.scss */
#sidebar h4 {
  font-size: 15px;
  position: relative;
  display: inline-block;
  background-color: #fff;
  padding-right: 15px;
}
/* line 272, ../sass/app/_typography.scss */
.view-recent-portfolio-websites .views-field-title h4 {
  font-size: 19.6px;
}
/* line 276, ../sass/app/_typography.scss */
article.span3 h4 {
  margin-top: 0px;
}
/* line 281, ../sass/app/_typography.scss */
.portfolio h4 a {
  color: #444;
  text-align: center;
  padding: 7px 10px;
  display: block;
  text-transform: none;
  background-color: #fcfcfc;
  border-bottom: 1px solid #eeeeee;
}
/* line 290, ../sass/app/_typography.scss */
.portfolio h4 a:hover {
  color: #fff;
  background-color: #ffaf88;
  border-bottom: 1px solid #f79f73;
}
/* line 297, ../sass/app/_typography.scss */
.portfolio h4:last-child {
  margin-bottom: 0 !important;
}

/* line 303, ../sass/app/_typography.scss */
h5 {
  font-size: 14px;
  margin-bottom: 14px;
}
/* line 309, ../sass/app/_typography.scss */
.highlights-content h5 {
  margin-top: 20px;
  font-size: 23.8px;
  font-family: "open-sans-condensed", sans-serif;
  color: #7DA817;
  padding: 0 0 15px 0;
  letter-spacing: 0.04px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 100;
  font-style: normal;
  font-weight: 300;
}
/* line 326, ../sass/app/_typography.scss */
.highlights-content div:hover h5 {
  color: #ECECEC;
}

/* line 333, ../sass/app/_typography.scss */
h6 {
  font-size: 12px;
  margin-bottom: 12px;
}

/* line 340, ../sass/app/_typography.scss */
p {
  margin: 15px 0;
  line-height: 25.2px;
  font-size: 18.9px;
  font-family: "chaparral-pro", Helvetica, "Trebuchet MS", Arial, sans-serif;
    /*
    .highlights &{
	    font-size: $base-font-size;
	}
	*/
  /*only show on services page*/
}
/* line 346, ../sass/app/_typography.scss */
* p:last-child {
  margin-bottom: 0 !important;
}
/* line 349, ../sass/app/_typography.scss */
p.intro {
  line-height: 18px;
  font-size: 14px;
  text-shadow: 2px 2px 2px #CDCDCD;
  margin-top: 0;
  padding-top: 10px !important;
}
/* line 358, ../sass/app/_typography.scss */
.front #main-content p {
  color: #323232;
  font-size: 21px;
  line-height: 30.6px;
  margin: 0 120px 10px 120px;
}
@media screen and (max-width: 800px) {
  /* line 358, ../sass/app/_typography.scss */
  .front #main-content p {
    margin: 0 20px 10px 20px;
  }
}
/* line 374, ../sass/app/_typography.scss */
div.note p, p.note {
  font-size: 11.9px;
  line-height: 16.2px;
}
/* line 380, ../sass/app/_typography.scss */
.maintenance-page #main-content p {
  margin: 15px 0 10px 25px;
  font-style: 120%;
  line-height: 120%;
}
/* line 388, ../sass/app/_typography.scss */
.node-type-blog .node .field-type-text-with-summary p:first-child, .not-front.node-type-page .node .field-type-text-with-summary p.intro, .page-contact .region-help .block p:first-child {
  position: relative;
  line-height: 28.8px;
  font-size: 23.8px;
  color: #616161;
  padding: 15px 10px 0 0;
}
@media screen and (max-width: 650px) {
  /* line 388, ../sass/app/_typography.scss */
  .node-type-blog .node .field-type-text-with-summary p:first-child, .not-front.node-type-page .node .field-type-text-with-summary p.intro, .page-contact .region-help .block p:first-child {
    line-height: 23.4px;
    font-size: 19.6px;
  }
}
@media screen and (max-width: 550px) {
  /* line 388, ../sass/app/_typography.scss */
  .node-type-blog .node .field-type-text-with-summary p:first-child, .not-front.node-type-page .node .field-type-text-with-summary p.intro, .page-contact .region-help .block p:first-child {
    line-height: 21.6px;
    font-size: 16.8px;
  }
}
/* line 410, ../sass/app/_typography.scss */
html body .node .field .field-item .maintenance-package p:first-child {
  font-size: 14px;
  line-height: 20px;
  color: #787878;
}
/* line 417, ../sass/app/_typography.scss */
.node-type-blog .node .field-type-text-with-summary p:first-child:first-line, .not-front.node-type-page .node .field-type-text-with-summary p.intro:first-line, .page-contact .region-help .block p:first-child:first-line,
p p.intro:first-child:first-line {
  color: #425E2F;
}
/* line 424, ../sass/app/_typography.scss */
.page-node-210 p.intro {
  padding-top: 0;
  margin-top: 0;
}
/* line 431, ../sass/app/_typography.scss */
#node-211 .span4 .content p:first-child {
  font-size: 16px;
  color: #5c5c5c;
}

/* line 438, ../sass/app/_typography.scss */
blockquote {
  margin: 20px 0;
  padding: 10px  10px 10px 30px;
  border-left: 3px solid #7DA817;
}

/* line 444, ../sass/app/_typography.scss */
blockquote p {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  letter-spacing: 0.02em;
  font-family: 'Georgia', serif;
}

/* line 452, ../sass/app/_typography.scss */
code,
.code {
  display: block;
  padding: 15px 8px;
}

/* line 20, ../sass/app/_menus.scss */
#mainmenu {
  background: none repeat scroll 0 0 #eff3eb;
  border-bottom: 1px solid #E7E7E7;
  display: inline-block;
  width: 100%;
}

/* line 26, ../sass/app/_menus.scss */
#block-superfish-1 {
  /*
  max-width: 700px;
  margin-top: 0;
  margin-right: auto!important;
  margin-bottom: 0;
  margin-left:auto!important;
  */
  margin-left: 8px;
}

/* line 36, ../sass/app/_menus.scss */
.res-menu {
  display: none;
}

/* line 37, ../sass/app/_menus.scss */
.res-menu {
  width: 100%;
  margin-top: 8px;
}

/* line 41, ../sass/app/_menus.scss */
#menu ul {
  margin-left: 9px;
}

/* line 42, ../sass/app/_menus.scss */
#menu > ul,
.block-superfish > ul {
  display: block;
  margin-left: 0;
  margin-bottom: 0;
}

/* line 48, ../sass/app/_menus.scss */
#menu > ul > li,
.block-superfish > ul > li {
  list-style: none;
  float: left;
  position: relative;
  padding: 0;
  border-bottom: 4px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* line 58, ../sass/app/_menus.scss */
#menu > ul > li:hover,
.block-superfish > ul > li:hover,
#menu > ul > li.active-trail {
  border-bottom: 4px solid #7DA817;
}

/* line 64, ../sass/app/_menus.scss */
#menu > ul > li > a,
.block-superfish > ul > li > a {
  font-size: 20.3px;
  font-weight: 400;
  color: #555;
  display: block;
  text-transform: uppercase;
  font-family: "open-sans-condensed", sans-serif;
  border-bottom: 4px solid transparent;
  padding: 15px 10px 5px 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 400px) {
  /* line 81, ../sass/app/_menus.scss */
  #menu > ul a:hover,
  #menu > ul a.active,
  .block-superfish > ul a:hover {
    color: #7DA817;
  }

  /* line 85, ../sass/app/_menus.scss */
  #menu li.active-trail,
  .block-superfish li.active {
    border-bottom: 4px solid #7DA817;
  }

  /* line 89, ../sass/app/_menus.scss */
  #menu .active a,
  .block-superfish .active a {
    color: #7DA817;
  }
}
/* line 97, ../sass/app/_menus.scss */
#menu ul ul {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: absolute;
  width: 190px;
}

/* line 104, ../sass/app/_menus.scss */
#menu > ul > li > ul,
.block-superfish > ul > li > ul {
  margin-top: -2px;
  border-top: 4px solid #7DA817;
  z-index: 99999;
}

/* line 110, ../sass/app/_menus.scss */
#menu ul ul li {
  border-bottom: 1px solid #f3f3f3;
  list-style: none outside none;
  padding: 5px 30px 5px 5px;
  position: relative;
}

/* line 117, ../sass/app/_menus.scss */
#menu ul ul li.last {
  border-bottom: none !important;
}

/* line 120, ../sass/app/_menus.scss */
#menu ul ul li.menu-last {
  border-bottom: none;
}

/* line 121, ../sass/app/_menus.scss */
#menu ul ul a {
  display: block;
  padding: 5px 0;
  color: #717171;
  font-size: 14px;
}

/* line 128, ../sass/app/_menus.scss */
#menu > ul > li > ul > li > ul,
.block-superfish > ul > li > ul > li > ul {
  border-top: 4px solid #7DA817;
  margin-left: -14px;
  margin-top: -12px;
}

/* line 134, ../sass/app/_menus.scss */
#menu ul ul a:hover {
  color: #7DA817;
}

/* line 135, ../sass/app/_menus.scss */
#menu li:hover {
  visibility: inherit;
}

/* line 136, ../sass/app/_menus.scss */
#menu li:hover ul,
#menu li.sfHover ul {
  left: -9px;
  top: 46px;
  z-index: 99;
}

/* line 142, ../sass/app/_menus.scss */
#menu li li:hover ul,
#menu li li.sfHover ul {
  left: 166px;
  top: -2px;
}

/* line 154, ../sass/app/_menus.scss */
#footer-menu .span4 {
  /*width:400px;*/
  width: 30%;
  float: right;
}

/* line 159, ../sass/app/_menus.scss */
#footer-menu {
  /*background-color: #B6B6B6;*/
  /*background-color: #b6c5a2;*/
  background: #44543e url("../images/footer-base-bg.png") repeat-x 0 0;
  width: 100%;
  color: #FFFFFF;
}

/* line 167, ../sass/app/_menus.scss */
#footer-menu .span8 {
  /*width:720px;*/
  width: 55%;
  float: left;
}

/* line 173, ../sass/app/_menus.scss */
#footer-menu .container {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 178, ../sass/app/_menus.scss */
#footer-menu p {
  font-size: 21px;
  font-family: "open-sans-condensed", sans-serif;
  color: #fff;
  padding: 0 15px 0 0;
  letter-spacing: 0.04px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  text-align: right;
}
/* line 187, ../sass/app/_menus.scss */
#footer-menu ul {
  margin-left: 0;
}
/* line 190, ../sass/app/_menus.scss */
#footer-menu li {
  list-style: none;
  padding: 15px 0;
  margin-left: 10px;
  float: left;
  font-size: 10px;
}
/* line 197, ../sass/app/_menus.scss */
#footer-menu a {
  color: #FFFFFF;
  font-family: "open-sans-condensed", sans-serif;
  font-size: 22.4px;
  font-weight: 400;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 204, ../sass/app/_menus.scss */
#footer-menu a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

/*
@-webkit-keyframes pulse_animation{
    0% { -webkit-transform:scale(1); }
    30% { -webkit-transform:scale(1); }
    40% { -webkit-transform:scale(1.38); }
    50% { -webkit-transform:scale(1); }
    60% { -webkit-transform:scale(1); }
    70% { -webkit-transform:scale(1.25); }
    80% { -webkit-transform:scale(1); }
    100% { -webkit-transform:scale(1); }
}
*/
/*pulse anim for portfolio button on front page*/
@-webkit-keyframes pulse_animation {
  /* line 15, ../sass/app/_buttons.scss */
  0% {
    -webkit-transform: scale(1);
  }

  /* line 16, ../sass/app/_buttons.scss */
  30% {
    -webkit-transform: scale(1);
  }

  /* line 17, ../sass/app/_buttons.scss */
  40% {
    -webkit-transform: scale(1.08);
  }

  /* line 18, ../sass/app/_buttons.scss */
  50% {
    -webkit-transform: scale(1.05);
  }

  /* line 19, ../sass/app/_buttons.scss */
  60% {
    -webkit-transform: scale(1.02);
  }

  /* line 20, ../sass/app/_buttons.scss */
  70% {
    -webkit-transform: scale(1.06);
  }

  /* line 21, ../sass/app/_buttons.scss */
  80% {
    -webkit-transform: scale(1.02);
  }

  /* line 22, ../sass/app/_buttons.scss */
  100% {
    -webkit-transform: scale(1);
  }
}
/* line 26, ../sass/app/_buttons.scss */
.btn-portfolio {
  margin-top: 20px;
  background-color: #7DA817;
  background-image: linear-gradient(to bottom, #7da817, #6d9807);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, left, right);
  background-image: -webkit-linear-gradient(top, #7da817, #6d9807);
  background-image: -o-linear-gradient(top, #7da817, #6d9807);
  background-image: linear-gradient(to bottom, #7da817, #6d9807);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7DA817', endColorstr='#ff6D9807', GradientType=0);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 4700ms;
  -webkit-transform-origin: 70% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: 'pulse_animation';
  -moz-animation-duration: 4700ms;
  -moz-transform-origin: 70% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: 'pulse_animation';
  -o-animation-duration: 4700ms;
  -o-transform-origin: 70% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -ms-animation-name: 'pulse_animation';
  -ms-animation-duration: 4700ms;
  -ms-transform-origin: 70% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: 'pulse_animation';
  animation-duration: 4700ms;
  transform-origin: 70% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

/* line 73, ../sass/app/_buttons.scss */
.btn-portfolio:hover {
  background-color: #76A046;
  /*#7DA817;*/
  background-position: 0 0;
  color: #1F3A19;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 4700ms;
  -webkit-transform-origin: 70% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: 'pulse_animation';
  -moz-animation-duration: 4700ms;
  -moz-transform-origin: 70% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -o-animation-name: 'pulse_animation';
  -o-animation-duration: 4700ms;
  -o-transform-origin: 70% 50%;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  -ms-animation-name: 'pulse_animation';
  -ms-animation-duration: 4700ms;
  -ms-transform-origin: 70% 50%;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: 'pulse_animation';
  animation-duration: 4700ms;
  transform-origin: 70% 50%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* line 110, ../sass/app/_buttons.scss */
.btn-hl {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 4px 14px;
  margin-bottom: 0;
  font-size: 12.6px;
  line-height: 18px;
  *line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, left, right);
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  *border: 0;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
}

/* Link Styles */
/* line 3, ../sass/app/_links.scss */
a {
  color: #7DA817;
  text-decoration: none;
}
/* line 7, ../sass/app/_links.scss */
.title a {
  color: #7DA817;
  font-weight: 600;
  font-size: 12px;
}
/* line 13, ../sass/app/_links.scss */
.node-blog h2 a {
  color: #76a051;
}
/* line 16, ../sass/app/_links.scss */
.node-blog h2 a:hover {
  color: #537139;
  text-decoration: underline;
}
/* line 22, ../sass/app/_links.scss */
h4.title a, a h4.title {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #7DA817;
}
/* line 30, ../sass/app/_links.scss */
.view-recent-portfolio-websites .views-field-taxonomy-vocabulary-1 a {
  color: #c2c2c2;
}
/* line 33, ../sass/app/_links.scss */
.view-recent-portfolio-websites .views-field-taxonomy-vocabulary-1 a:hover {
  color: #fdfdfd;
}
/* line 38, ../sass/app/_links.scss */
.node p a {
  text-decoration: underline;
}
/* line 43, ../sass/app/_links.scss */
a:hover {
  text-decoration: none;
  color: #1d1d1c;
}
/* line 47, ../sass/app/_links.scss */
p a:hover {
  text-decoration: underline;
}

/* line 53, ../sass/app/_links.scss */
.title a:hover,
a:hover h4.title {
  color: #1d1d1c;
}

/* line 58, ../sass/app/_links.scss */
.view-recent-portfolio-websites .views-field-view-node {
  padding-top: 8px;
}

/* line 62, ../sass/app/_links.scss */
#block-menu-menu-services ul li.active-trail {
  font-weight: bold;
  font-size: 105%;
  line-height: 105%;
}
/* line 69, ../sass/app/_links.scss */
#block-menu-menu-services ul li.active-trail a {
  color: #548751;
}

/* Read More */
/* line 76, ../sass/app/_links.scss */
.read-more {
  display: block;
  color: #7DA817;
  letter-spacing: 0.02em;
}

/* line 81, ../sass/app/_links.scss */
.read-more:hover {
  color: #1d1d1c;
}

/* line 4, ../sass/app/_images.scss */
div.node-page .field-name-body img:not(.imageborder) {
  max-width: 320px;
  width: 100%;
  float: right;
  margin: 0 5px 10px 10px;
}
@media screen and (max-width: 550px) {
  /* line 4, ../sass/app/_images.scss */
  div.node-page .field-name-body img:not(.imageborder) {
    width: 60%;
  }
}
@media screen and (max-width: 400px) {
  /* line 4, ../sass/app/_images.scss */
  div.node-page .field-name-body img:not(.imageborder) {
    width: 100%;
    margin: 0 auto 10px auto;
    float: none;
  }
}

/* line 19, ../sass/app/_images.scss */
.page-node-212 div.node-page .field-name-body img:not(.imageborder) {
  max-width: 263px;
}

/* line 23, ../sass/app/_images.scss */
#node-2.node-page img {
  margin-right: 0;
}

/* line 28, ../sass/app/_images.scss */
body.page-node-210 div.node-page .field-name-body img {
  padding: 4px;
  border: 1px solid #CDCDCD;
  margin: 0 0 10px 10px;
}

/* line 33, ../sass/app/_images.scss */
#node-211 .content img {
  float: right;
  width: 50%;
  margin-right: 10px;
}

/*image borders*/
/* line 42, ../sass/app/_images.scss */
.imageborder {
  padding: 4px;
  border: 1px solid #CDCDCD;
}
/* line 46, ../sass/app/_images.scss */
.imageborder.alignleft {
  margin-right: 12px;
}
/* line 49, ../sass/app/_images.scss */
.imageborder.alignright {
  margin-left: 12px;
}

/* line 56, ../sass/app/_images.scss */
#main-content .field-name-field-full-image img {
  border: 1px solid #DADADA;
  padding: 2px;
}

/* line 62, ../sass/app/_images.scss */
.node-teaser img {
  border: 1px solid #9a9a9a;
}
/* line 65, ../sass/app/_images.scss */
.node-teaser img:hover {
  border: 1px solid #88b164;
}

/* line 72, ../sass/app/_images.scss */
.portfolio-feature img {
  -webkit-border-radius: 40px 40px 0 0;
  -moz-border-radius: 40px 40px 0 0;
  border-radius: 40px 40px 0 0;
  vertical-align: top;
}
@media screen and (min-width: 525px) and (max-width: 767px) {
  /* line 72, ../sass/app/_images.scss */
  .portfolio-feature img {
    -webkit-border-radius: 40px 0 0 0;
    -moz-border-radius: 40px 0 0 0;
    border-radius: 40px 0 0 0;
  }
}

/* line 85, ../sass/app/_images.scss */
.portfolio img {
  display: block;
}

/* line 29, ../sass/app/_module.scss */
#search-block-form #edit-actions {
  float: right;
  padding: 0;
  margin: 0;
}

/* line 34, ../sass/app/_module.scss */
.form-item.form-type-textfield.form-item-search-block-form {
  float: left;
}

/* line 43, ../sass/app/_module.scss */
.breadcrumbs {
  position: relative;
  padding: 20px 0;
}

/* line 47, ../sass/app/_module.scss */
.breadcrumbs h1 {
  font-size: 20px;
  margin-bottom: 10px;
  text-transform: capitalize !important;
}

/* line 52, ../sass/app/_module.scss */
.breadcrumbs div {
  letter-spacing: 0.02em;
  font-size: 12px;
  display: inline-block;
}

/* line 57, ../sass/app/_module.scss */
.breadcrumbs a {
  display: inline-block;
}

/* line 60, ../sass/app/_module.scss */
.breadcrumbs a:hover {
  color: #111;
}

/* line 62, ../sass/app/_module.scss */
body.no-sidebars div.breadcrumb {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 72, ../sass/app/_module.scss */
.node-teaser .field-type-taxonomy-term-reference,
.node-blog .field-type-taxonomy-term-reference {
  float: left;
  display: block;
  width: 100%;
  margin-bottom: 3px;
  padding: 0 2px;
}

/* line 82, ../sass/app/_module.scss */
.node-teaser .field-type-taxonomy-term-reference {
  padding: 0;
  margin-top: 2px;
}

/* line 86, ../sass/app/_module.scss */
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-blog .field-type-taxonomy-term-reference .field-label {
  float: left;
  margin-left: 3px;
}

/* line 91, ../sass/app/_module.scss */
.node-teaser .field-type-taxonomy-term-reference .field-item.even,
.node-teaser .field-type-taxonomy-term-reference .field-item.odd,
.node-blog .field-type-taxonomy-term-reference .field-item.even,
.node-blog .field-type-taxonomy-term-reference .field-item.odd {
  float: left;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
}

/* line 102, ../sass/app/_module.scss */
.node-teaser .field-type-text-with-summary,
.node-blog .field-type-text-with-summary {
  clear: both;
  margin-bottom: 12px;
}

/* line 113, ../sass/app/_module.scss */
.node-teaser {
  border-bottom: 2px solid #bebebe;
  margin-bottom: 32px;
  padding-bottom: 35px;
  clear: both;
}

/* line 119, ../sass/app/_module.scss */
.view-creative-notes .node-teaser {
  padding-bottom: 40px;
}

/* line 122, ../sass/app/_module.scss */
.node-teaser ul.links li {
  float: right;
}

/* line 126, ../sass/app/_module.scss */
.node-teaser ul.links li.node-readmore a {
  background-image: none;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
  border: 1px solid #343434;
  border-radius: 3px 3px 3px 3px;
  color: #7d7d7d;
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  margin-right: 3px;
  padding: 4px 10px;
}

/* line 140, ../sass/app/_module.scss */
.node-teaser ul.links li.node-readmore a span.element-invisible {
  display: inline-block;
  height: auto;
  position: relative !important;
  overflow: visible;
  padding-left: 2px;
}

/* line 156, ../sass/app/_module.scss */
.block-title {
  /* margin:20px 0 30px; */
  margin: 0 0 10px 0;
  padding-bottom: 5px;
  /*
  border-bottom: 1px solid #698F48;
  color: #698F48;
  */
  /*color: #C6D6B6;*/
  color: #647F4C;
  border-bottom: 1px solid #D2E0C5;
  width: 95%;
  font-size: 18px;
}

@media (max-width: 400px) {
  /* line 17, ../sass/app/_state.scss */
  #block-superfish-1 {
    height: 42px;
  }

  /* line 20, ../sass/app/_state.scss */
  .region-header #menu > ul > li,
  .region-header .block-superfish > ul > li {
    width: 25%;
    margin: 0;
    padding: 0;
    height: 61px;
  }

  /* line 28, ../sass/app/_state.scss */
  .region-header #menu > ul > li > a,
  .region-header .block-superfish > ul > li > a {
    border-bottom: none;
    color: #555;
    display: block;
    margin-top: 0;
    font-size: 8px;
    font-weight: 100;
    padding: 38px 0 0 0;
    text-transform: none;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    height: 45px;
    background-image: url(../images/icons/navigation-sprite.png);
    background-repeat: no-repeat;
    background-position: center 0;
  }

  /* line 59, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li:nth-child(2) > a {
    background-position: center -125px;
  }

  /* line 62, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li:nth-child(3) > a {
    background-position: center -85px;
  }

  /* line 65, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li:nth-child(4) > a {
    background-position: center -5px;
  }

  /* line 68, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li:nth-child(5) > a {
    background-position: center -45px;
  }

  /* line 77, ../sass/app/_state.scss */
  #da-slider .da-slide h2 {
    top: 0;
    margin-top: 7px;
  }

  /* line 81, ../sass/app/_state.scss */
  #da-slider .da-slide p {
    top: 22px;
    line-height: 18px;
  }

  /* line 85, ../sass/app/_state.scss */
  #da-slider .da-slide img {
    margin-top: 0;
    top: 50px;
  }
}
@media (max-width: 400px) {
  /* line 95, ../sass/app/_state.scss */
  div.node-page .field-name-body img:not(.imageborder) {
    margin: 0;
  }

  /* line 98, ../sass/app/_state.scss */
  .da-slide h2 {
    font-size: 22px;
    top: 5px;
  }
}
@media (max-width: 480px) {
  /* line 108, ../sass/app/_state.scss */
  .top-social {
    text-align: center;
  }

  /* line 111, ../sass/app/_state.scss */
  .top-social a {
    float: none;
  }

  /* line 114, ../sass/app/_state.scss */
  .top-social a:last-of-type {
    margin-left: 5px;
  }

  /* line 117, ../sass/app/_state.scss */
  .regular-table .table-data .heading td {
    font-size: 12px;
  }

  /* line 120, ../sass/app/_state.scss */
  #menu {
    float: none;
  }

  /* line 123, ../sass/app/_state.scss */
  #header {
    padding: 12px 0 10px 0;
  }

  /* line 126, ../sass/app/_state.scss */
  #header .logo img {
    float: none;
    margin: 0 auto;
  }

  /* line 130, ../sass/app/_state.scss */
  #footer .form-horizontal .control-group > label {
    float: none;
    width: auto;
    padding-top: 0;
    text-align: left;
  }

  /* line 136, ../sass/app/_state.scss */
  #footer .form-horizontal .controls {
    margin-left: 0;
  }

  /* line 139, ../sass/app/_state.scss */
  #footer .form-horizontal .control-list {
    padding-top: 0;
  }

  /* line 142, ../sass/app/_state.scss */
  #footer .form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* line 146, ../sass/app/_state.scss */
  #footer .submit-div {
    width: 225px;
  }

  /* line 148, ../sass/app/_state.scss */
  #footer-menu p {
    font-size: 12px;
    text-align: center;
  }

  /* line 152, ../sass/app/_state.scss */
  .da-slider {
    min-width: 300px;
    /*height: 325px; */
    margin: 0;
  }

  /* line 157, ../sass/app/_state.scss */
  .da-slide {
    height: 220px;
  }

  /* line 160, ../sass/app/_state.scss */
  .da-slide h2 {
    font-size: 25px;
    font-weight: 400;
    top: 0;
  }

  /* line 166, ../sass/app/_state.scss */
  .da-slide a.da-link {
    /*top: 220px;*/
    width: 90%;
    font-size: 90%;
  }

  /* line 171, ../sass/app/_state.scss */
  .da-slide p {
    top: 35px;
    width: 48%;
  }

  /* line 177, ../sass/app/_state.scss */
  .da-slide .da-img {
    width: 40% !important;
  }

  /* line 181, ../sass/app/_state.scss */
  .da-img img {
    vertical-align: top;
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  /* line 192, ../sass/app/_state.scss */
  .maintenance-page #main-content .region-content {
    margin: 0 30px;
  }
}
@media (max-width: 1600px) {
  /* line 200, ../sass/app/_state.scss */
  .node-type-blog .node .field-type-text-with-summary .multicol,
  .not-front.node-type-page .node .field-type-text-with-summary .multicol {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 18px;
    -webkit-column-gap: 18px;
    column-gap: 18px;
  }
}
@media (max-width: 1400px) {
  /* line 211, ../sass/app/_state.scss */
  .node-type-blog .node .field-type-text-with-summary .multicol,
  .not-front.node-type-page .node .field-type-text-with-summary .multicol {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 35px;
    -webkit-column-gap: 35px;
    column-gap: 35px;
  }
}
@media (max-width: 560px) {
  /* line 222, ../sass/app/_state.scss */
  .node-type-blog .node .field-type-text-with-summary .multicol,
  .not-front.node-type-page .node .field-type-text-with-summary .multicol {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-gap: 0px;
    column-gap: 0px;
  }
}
@media (max-width: 680px) {
  /* line 235, ../sass/app/_state.scss */
  #header .row div.logo {
    width: 100%;
    text-align: center;
  }

  /* line 239, ../sass/app/_state.scss */
  #header .row div.logo a#logo {
    width: 100%;
    max-width: 369px;
    margin: 0 auto;
    display: block;
  }
}
@media (max-width: 550px) {
  /* line 248, ../sass/app/_state.scss */
  #menu ul#superfish-1 {
    margin-left: 0;
  }

  /* line 253, ../sass/app/_state.scss */
  #menu ul ul li {
    padding: 3px 0;
  }

  /* line 256, ../sass/app/_state.scss */
  #menu li.sf-item-4.sfHover ul {
    margin-left: -40px;
    margin: 0;
    padding: 0;
  }
}
/*responsive menu changes*/
@media (max-width: 738px) {
  /* line 266, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 15px 6px 5px 6px;
    font-size: 19.6px;
  }
}
/*
@media (max-width: 689px){
    .block-superfish > ul > li > a{
        padding: 15px 6px 5px 6px;
        font-size: $base-font-size*1.3
    }
}
*/
/*
@media (max-width: 654px){
    .block-superfish > ul > li > a{
        padding: 15px 6px 5px 6px;
        font-size: $base-font-size*0.95;
    }
}
*/
@media (max-width: 600px) {
  /* line 288, ../sass/app/_state.scss */
  .block-superfish > ul > li {
    padding: 0;
    width: 20%;
    text-align: left;
  }

  /* line 293, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li {
    text-align: center;
  }

  /* line 297, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 12px 4px 3px 4px;
  }
}
@media screen and (max-width: 600px) {
  /* line 304, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li {
    width: 20%;
    margin-left: 0;
  }
}
@media (max-width: 605px) {
  /* line 311, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 8px 4px 3px 4px;
    font-size: 12.6px;
  }

  /* line 315, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li > a {
    font-size: 19.6px;
  }
}
@media (max-width: 594px) {
  /* line 320, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 8px 4px 3px 4px;
  }
}
@media (max-width: 589px) {
  /* line 325, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    font-size: 12.32px;
  }
}
@media (max-width: 564px) {
  /* line 330, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 8px 3px 3px 3px;
  }
}
@media (max-width: 552px) {
  /* line 335, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 8px 2px 3px 2px;
  }
}
@media (max-width: 524px) {
  /* line 341, ../sass/app/_state.scss */
  #menu ul ul {
    width: 160px;
  }

    /*
    .block-superfish > ul > li{
        width:33%;
        margin-left:0;

    }
    */
    /*
    .block-superfish > ul > li{
        width:25%;
        margin-left:0;

    }
    .block-superfish > ul > li > a{
        padding: 8px 3px 3px 3px;
        text-align: center;
        font-size: $base-font-size;
    }
    */
  /* line 366, ../sass/app/_state.scss */
  #block-superfish-4.block-superfish > ul > li > a {
    text-align: left;
  }

  /* line 372, ../sass/app/_state.scss */
  li.sf-item-4 ul {
    margin-left: -10px !important;
  }

  /* line 375, ../sass/app/_state.scss */
  li.sf-item-4 ul li {
    margin-left: 0;
  }
}
@media (max-width: 589px) {
  /* line 383, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    font-size: 10.5px;
  }
}
@media (max-width: 436px) {
  /*
  .block-superfish > ul > li.first{
      display:none;
  }
  */
  /* line 396, ../sass/app/_state.scss */
  li.sf-item-4 ul {
    margin-left: -20px !important;
  }

  /*
  .block-superfish > ul > li{
      width:33%;
      margin:0;
  }
  */
  /* line 406, ../sass/app/_state.scss */
  .block-superfish > ul > li {
    width: 24%;
    margin: 0;
  }

  /* line 410, ../sass/app/_state.scss */
  .block-superfish > ul > li > a {
    padding: 8px 1px 3px 7px;
  }

  /* line 413, ../sass/app/_state.scss */
  .region-header .block-superfish > ul > li > a {
    font-size: 16.8px;
  }

  /* line 416, ../sass/app/_state.scss */
  .da-slide .da-link {
    width: 65%;
  }
}
@media (max-width: 415px) {
  /* line 422, ../sass/app/_state.scss */
  li.sf-item-4 ul {
    margin-left: -30px !important;
  }
}
@media (max-width: 979px) and (min-width: 630px) {
  /* line 437, ../sass/app/_state.scss */
  body.two-sidebars #main-content {
    width: 74%;
  }
}
/*
@media (max-width:979px) {
    .da-slide .da-img{
        top:75px;
    }
}
@media (max-width:920px) {
    .da-slide .da-img{
        top:85px;
    }
}
*/
@media (max-width: 629px) {
  /* line 455, ../sass/app/_state.scss */
  body.two-sidebars #main-content {
    width: 96%;
  }
}
@media (max-width: 767px) and (min-width: 630px) {
  /* line 460, ../sass/app/_state.scss */
  .region-sidebar-second, .region-sidebar-first {
    width: 20%;
  }
}
@media (max-width: 629px) {
  /* line 465, ../sass/app/_state.scss */
  body.two-sidebars .region-sidebar-second,
  body.two-sidebars .region-sidebar-first {
    width: 45%;
  }
}
@media (max-width: 980px) {
  /* line 474, ../sass/app/_state.scss */
  .front #main-content h1 {
    font-size: 22px;
  }
}
@media (max-width: 710px) {
  /* line 479, ../sass/app/_state.scss */
  .front #main-content h1 {
    font-size: 20px;
  }
}
/*@media (min-width: 768px) and (max-width: 979px) {*/
@media (max-width: 620px) {
  /* line 495, ../sass/app/_state.scss */
  .front #main-content p {
    line-height: 150%;
    font-size: 145%;
  }
}
@media (max-width: 500px) {
  /* line 501, ../sass/app/_state.scss */
  .front #main-content h1 {
    font-size: 170%;
  }

  /* line 504, ../sass/app/_state.scss */
  .front #main-content p {
    line-height: 120%;
    font-size: 125%;
    margin: 0 5px 10px 5px;
  }
}
@media (min-width: 776px) and (max-width: 900px) {
  /* line 523, ../sass/app/_state.scss */
  #inline-checklist {
    padding: 1em 0.8em;
  }
}
@media (max-width: 500px) {
  /* line 528, ../sass/app/_state.scss */
  #inline-checklist {
    float: none;
    width: 80%;
    margin-left: 0;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 536, ../sass/app/_state.scss */
  .highlights-content {
    background-position: center -1250px;
    margin-top: -60px;
    min-height: 435px;
  }

  /* line 541, ../sass/app/_state.scss */
  .highlights div:hover .highlights-content {
    background-position: center -110px;
    color: #FEFEFE;
  }

  /* line 545, ../sass/app/_state.scss */
  .highlights-content .style-div {
    min-height: 480px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 551, ../sass/app/_state.scss */
  .tagline h3 {
    font-size: 1.2em;
  }

  /* line 554, ../sass/app/_state.scss */
  .highlights-content {
    background-position: center -1250px;
    margin-top: -60px;
    min-height: 435px;
  }

  /* line 559, ../sass/app/_state.scss */
  .highlights div:hover .highlights-content {
    background-position: center -40px;
    color: #FEFEFE;
  }

  /* line 563, ../sass/app/_state.scss */
  .highlights-content .style-div {
    min-height: 640px;
  }
}
/*widemobile-highlightbg-sprites.jpg*/
@media (max-width: 767px) {
  /* line 570, ../sass/app/_state.scss */
  .highlights-content {
    /*background: none repeat scroll 0 0 #f2f2f2;*/
    background-image: url(../images/widemobile-highlightbg-sprites.jpg);
    background-repeat: no-repeat;
    background-position: center -1090px;
    /*background-position: center -1210px;*/
    margin-top: -60px;
    min-height: 390px;
  }

  /* line 581, ../sass/app/_state.scss */
  .highlight-footer {
    background-image: url(../images/widemobile-highlightbg-footer.png);
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  /*}
  /*@media (min-width: 320px) and (max-width: 767px) {*/
  /*@media (max-width: 767px) {*/
  /*
  .highlights-content {
    background-position: center -1210px;
      margin-top: -60px;
      min-height: 390px;
  }
  */
}
@media screen and (max-width: 767px) and (min-width: 600px) {
  /* line 596, ../sass/app/_state.scss */
  .highlights div:hover .highlights-content {
    background-color: #729940;
    background-position: center -40px;
    color: #FEFEFE;
  }
}

@media (max-width: 767px) {
  /* line 607, ../sass/app/_state.scss */
  .highlights-content .style-div {
    min-height: 210px;
    padding-bottom: 0px;
  }

  /* line 612, ../sass/app/_state.scss */
  .highlights-content a.btn-hl {
    margin-top: 40px;
  }
}
@media (max-width: 739px) {
  /* line 639, ../sass/app/_state.scss */
  #footer-menu li {
    padding: 10px 0;
    margin-left: 5px;
  }

  /* line 643, ../sass/app/_state.scss */
  #footer-menu .span4 {
    width: 35%;
  }
}
@media (max-width: 676px) {
  /* line 649, ../sass/app/_state.scss */
  #footer-menu li {
    width: 30%;
  }

  /* line 652, ../sass/app/_state.scss */
  #footer-menu .span4 {
    width: 45%;
  }

  /* line 655, ../sass/app/_state.scss */
  #footer-menu .span8 {
    width: 45%;
  }
}
@media (max-width: 572px) {
  /* line 661, ../sass/app/_state.scss */
  #footer-menu .span8,
  #footer-menu .span4 {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }

  /* line 667, ../sass/app/_state.scss */
  #footer-menu li {
    width: 32%;
    padding: 0;
    margin: 8px 0 0 0;
    float: left;
    text-align: center;
  }

  /* line 674, ../sass/app/_state.scss */
  #footer-menu li a {
    font-size: 1.6em;
  }

  /* line 678, ../sass/app/_state.scss */
  #footer-menu p {
    text-align: center;
    padding-bottom: 10px;
  }
}
/*-----------------------------------------------------------------------------------*/
/*  5.  Post/Portfolio Content Styles
/*-----------------------------------------------------------------------------------*/
/* Categories */
/* line 695, ../sass/app/_state.scss */
#filtrable {
  margin-bottom: 30px;
  float: right;
}

/* line 699, ../sass/app/_state.scss */
#filtrable li {
  float: left;
  margin-left: 10px;
  list-style: none;
}

/* line 705, ../sass/app/_state.scss */
#filtrable a {
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid #ececec;
  font-size: 0.9em;
  display: inline-block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 716, ../sass/app/_state.scss */
#filtrable a:hover,
#filtrable .current a {
  border-color: #ddd;
  background-color: #f5f5f5;
  color: #787878;
}

@media (max-width: 767px) {
  /* line 732, ../sass/app/_state.scss */
  #block-superfish-2 {
    display: none;
  }
}
@media (max-width: 820px) {
  /* line 738, ../sass/app/_state.scss */
  .view-id-most_frequent_terms .view-content {
    height: 200px;
    overflow: hidden;
  }

  /* line 742, ../sass/app/_state.scss */
  .view-id-archive .view-content {
    height: 210px;
    overflow: hidden;
  }
}
/*-----------------------------------------------------------------------------------*/
/*  10.  Thumbnails
/*-----------------------------------------------------------------------------------*/
@media (max-width: 450px) {
  /* line 756, ../sass/app/_state.scss */
  .divider-hor > span {
    font-size: 20px;
  }

  /* line 760, ../sass/app/_state.scss */
  #footer .container .row.triple .span3 ul {
    margin-bottom: 5px;
  }

  /* line 763, ../sass/app/_state.scss */
  #footer .container .row.triple .span3 ul li {
    margin-bottom: 4px;
    line-height: 95%;
  }

  /* line 767, ../sass/app/_state.scss */
  #footer .container .row.triple .span3 ul li a {
    font-size: 95%;
    line-height: 95%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  /* line 776, ../sass/app/_state.scss */
  .btleft .es-nav {
    left: -53px;
  }

  /*#latest-work .carousel-wrapper li{width: 340px !important;}*/
  /* line 778, ../sass/app/_state.scss */
  .figure-1 a.left-image {
    margin-right: 5px;
  }

  /* line 779, ../sass/app/_state.scss */
  .service.img-border-bg {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1065px) {
  /* line 783, ../sass/app/_state.scss */
  .da-slide h2 {
    font-size: 40px;
    top: 35px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 790, ../sass/app/_state.scss */
  .btleft .es-nav {
    left: -43px;
  }

  /* line 791, ../sass/app/_state.scss */
  #latest-work .carousel-wrapper li {
    width: 252px !important;
  }

  /* line 792, ../sass/app/_state.scss */
  .flickr li {
    width: 68px;
  }

  /* line 793, ../sass/app/_state.scss */
  #sidebar .ul-col2 li {
    float: none;
    margin-right: 0;
    width: 90%;
  }

  /* line 798, ../sass/app/_state.scss */
  #footer #contact input[type="text"], #footer #contact textarea {
    width: 90%;
  }

  /* line 799, ../sass/app/_state.scss */
  #footer [class^="icon-"] {
    display: none;
  }

  /* line 800, ../sass/app/_state.scss */
  .service.img-border-bg {
    margin-top: 50px;
  }

  /* line 801, ../sass/app/_state.scss */
  .ident-bot-2 {
    margin-bottom: 0;
  }

  /* line 802, ../sass/app/_state.scss */
  .figure-3 {
    display: none;
  }

  /* line 804, ../sass/app/_state.scss */
  .da-slide h2 {
    font-size: 35px;
  }
}
@media (min-width: 526px) and (max-width: 767px) {
  /* line 810, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field.views-field-title {
    border-top: 1px solid #CDCDCD;
    border-top-right-radius: 12px;
    border-top-left-radius: 40px;
  }
}
@media (max-width: 767px) {
  /* line 817, ../sass/app/_state.scss */
  body {
    padding: 0;
  }

  /* line 818, ../sass/app/_state.scss */
  .container {
    padding: 0 20px;
  }

  /*
  #menu ul,
  .slides h3,
  #top-menu > .span6{display: none;}
  */
  /* line 825, ../sass/app/_state.scss */
  #top-menu .top-social {
    float: none;
  }

  /* line 827, ../sass/app/_state.scss */
  .res-menu {
    display: block;
  }

  /* line 828, ../sass/app/_state.scss */
  .logo {
    text-align: center;
  }

  /* line 831, ../sass/app/_state.scss */
  .container > .row [class*="highlight_"] {
    margin: 0 auto 30px auto;
    width: 270px;
  }

  /* line 835, ../sass/app/_state.scss */
  .container > .row > [class*="span"]:last-child,
  .container > row > [class*="highlight_"] {
    margin-bottom: 0 !important;
  }

  /* line 841, ../sass/app/_state.scss */
  .btleft .es-nav {
    bottom: inherit;
    right: 0;
    left: inherit;
    top: -38px;
  }

  /* line 847, ../sass/app/_state.scss */
  #latest-work .carousel-wrapper li {
    max-width: 15em !important;
  }

  /* line 848, ../sass/app/_state.scss */
  .our-projects article:nth-last-child(-n+4) {
    margin-bottom: 30px !important;
  }

  /* line 850, ../sass/app/_state.scss */
  #footer-menu .span4 {
    margin-bottom: 15px;
    text-align: center;
  }

  /* line 855, ../sass/app/_state.scss */
  .breadcrumbs {
    padding: 40px 20px;
    position: relative;
  }

  /* line 860, ../sass/app/_state.scss */
  #sidebar section:last-child {
    margin-bottom: 0;
  }

  /* line 861, ../sass/app/_state.scss */
  #sidebar .ul-col2 {
    width: 100%;
  }

  /* line 862, ../sass/app/_state.scss */
  #sidebar .ul-col2 li {
    margin-right: 0;
    width: 50%;
  }

  /* line 867, ../sass/app/_state.scss */
  .alignleft,
  .alignright {
    float: none !important;
  }

  /* line 870, ../sass/app/_state.scss */
  #footer .submit-div {
    width: 270px;
  }

  /* line 871, ../sass/app/_state.scss */
  figure {
    display: inline-block;
    margin-right: 15px;
  }

  /* line 873, ../sass/app/_state.scss */
  .da-slide h2 {
    font-size: 30px;
  }

  /* line 876, ../sass/app/_state.scss */
  .da-slide p {
    font-size: 16px;
  }

  /* line 880, ../sass/app/_state.scss */
  .da-slide a.da-link {
    top: 190px;
    width: 90%;
  }

  /*remove meta info from recent entries*/
  /* line 888, ../sass/app/_state.scss */
  .views-field.views-field-created,
  .views-field.views-field-taxonomy-vocabulary-1 {
    display: none;
  }

  /*remove min height for mobile*/
  /* line 894, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field-body {
    /*min-height: 1px;*/
    min-height: 146px;
    padding-bottom: 10px;
  }

  /* line 903, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .view-content .span3 {
    width: 90%;
    margin: 1% 5%;
  }

  /*float image right and create fluid box*/
  /* line 909, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field.views-field-field-cover-image {
    float: left;
    margin-right: 10px;
    width: 270px;
  }

  /* line 919, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field.views-field-title span.field-content h4 {
    margin: 0;
    padding: 0 10px;
    line-height: 18px;
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  /* line 931, ../sass/app/_state.scss */
  #footer .container .row.triple .span3 {
    width: 46%;
    float: left;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  /* line 942, ../sass/app/_state.scss */
  #footer .container .row.triple .span3.first {
    width: 95%;
    float: none;
  }
}
@media (max-width: 690px) {
  /*
  .da-slide .da-img{
      top:90px;
  }
  */
}
@media (max-width: 630px) {
  /* line 956, ../sass/app/_state.scss */
  .da-slide p {
    line-height: 22px;
  }
}
@media (max-width: 585px) {
  /* line 961, ../sass/app/_state.scss */
  .da-slide p {
    line-height: 20px;
    font-size: 14px;
  }
}
@media (max-width: 525px) {
  /* line 967, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .view-content .span3 {
    width: 270px;
    margin: 1% auto;
    float: none;
  }

  /* line 972, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field.views-field-field-cover-image {
    float: none;
    margin-right: 0;
  }

  /* line 976, ../sass/app/_state.scss */
  .view-recent-portfolio-websites .views-field-body {
    min-height: 1px;
  }
}
@media (max-width: 530px) {
  /* line 990, ../sass/app/_state.scss */
  .region .block ul.weblinks li {
    display: block;
    height: 60px;
    width: 95%;
    float: none;
    clear: both;
    margin: 0;
    margin-right: 2%;
    margin-bottom: 3px;
    padding: 0;
  }
}
@media (max-width: 730px) {
  /* line 1003, ../sass/app/_state.scss */
  #header .row .logo,
  #header .row .top-social {
    float: none;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
}
/* @media (min-width: 480px) and (max-width: 767px) { */
@media (max-width: 767px) {
  /* line 1016, ../sass/app/_state.scss */
  .page-node-210.sidebar-second #main-content {
    width: 93%;
    float: none;
    margin-left: 3%;
  }

  /* line 1022, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second,
  body.sidebar-second .region-sidebar-second {
    float: none;
    width: 94%;
    margin-left: 5%;
  }

  /* line 1028, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second div#social-links ul {
    float: none !important;
    width: 99%;
  }

  /* line 1032, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second div#social-links ul li {
    float: left;
    margin-right: 5px;
  }

  /*
  .page-node-210 div#social-links ul{
    width:100%;
  }
  */
  /* line 1041, ../sass/app/_state.scss */
  ul.weblinks {
    display: block;
    /*width:40%;*/
  }

  /* line 1045, ../sass/app/_state.scss */
  .region ul.weblinks li {
    display: block;
    width: 45%;
    float: left;
    clear: none;
    margin-right: 3%;
    margin-left: 1%;
    margin-bottom: 8px;
  }

  /* line 1055, ../sass/app/_state.scss */
  .pscroller .span3 {
    width: 25%;
  }

  /* line 1058, ../sass/app/_state.scss */
  .pscroller .span9 {
    width: 67%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 1067, ../sass/app/_state.scss */
  .page-node-210.sidebar-second #main-content,
  body.sidebar-second #main-content {
    width: 68%;
    float: left;
    margin-left: 15px;
  }

  /* line 1073, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second,
  body.sidebar-second .region-sidebar-second {
    width: 25%;
  }

  /* line 1077, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second ul.floatleft,
  .page-node-210.sidebar-second .region-sidebar-second ul.floatright {
    float: left !important;
  }

  /* line 1082, ../sass/app/_state.scss */
  .span3,
  .highlights .region {
    width: 166px;
  }

  /* line 1087, ../sass/app/_state.scss */
  .single .span3 {
    width: 100%;
  }

  /* line 1090, ../sass/app/_state.scss */
  .double .span3 {
    width: 48%;
  }

  /* line 1093, ../sass/app/_state.scss */
  .triple .span3 {
    margin-left: 30px;
    width: 21%;
  }

  /* line 1097, ../sass/app/_state.scss */
  .triple .span3.first {
    margin-left: 20px;
    width: 47%;
  }

  /* line 1101, ../sass/app/_state.scss */
  .quad .span3 {
    width: 25%;
  }

  /*
  .none .span3 {
    width: 270px;
  }
  */
  /* line 1111, ../sass/app/_state.scss */
  #block-superfish-4 ul.menu li {
    margin-bottom: 1px;
  }

  /* line 1115, ../sass/app/_state.scss */
  #block-superfish-4 ul.menu, #block-superfish-4 ul.menu li, #block-superfish-4 ul.menu li a {
    font-size: 99%;
  }
}
@media (min-width: 615px) and (max-width: 979px) {
  /* line 1128, ../sass/app/_state.scss */
  .one-sidebar .region-sidebar-first {
    width: 92%;
    margin-left: 10px;
  }

  /* line 1132, ../sass/app/_state.scss */
  .one-sidebar .region-sidebar-first .block {
    width: 45%;
    float: left;
  }

  /* line 1136, ../sass/app/_state.scss */
  .one-sidebar .region-sidebar-first .block .sbl-da-icon a {
    text-align: center;
    display: block;
  }

  /* line 1140, ../sass/app/_state.scss */
  .one-sidebar .region-sidebar-first .block .sbl-da-icon p a {
    text-align: left;
    display: inline;
  }

  /* line 1144, ../sass/app/_state.scss */
  .one-sidebar .region-sidebar-first .block .sbl-da-icon img {
    float: none;
    margin: 0 auto;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 1152, ../sass/app/_state.scss */
  body.sidebar-first #main-content {
    width: 65%;
  }

  /* line 1155, ../sass/app/_state.scss */
  body.sidebar-second #main-content {
    width: 65%;
  }

  /* line 1158, ../sass/app/_state.scss */
  .page-node-210.sidebar-second #main-content {
    width: 58%;
    float: left;
    margin-left: 20px;
  }

  /* line 1163, ../sass/app/_state.scss */
  body.two-sidebars #main-content {
    width: 60%;
  }

  /* line 1167, ../sass/app/_state.scss */
  body.two-sidebars .region-sidebar-second,
  body.two-sidebars .region-sidebar-first {
    width: 18%;
  }

  /* line 1171, ../sass/app/_state.scss */
  .page-node-210.sidebar-second .region-sidebar-second {
    width: 35%;
  }

  /* line 1174, ../sass/app/_state.scss */
  .region-sidebar-second,
  .region-sidebar-first {
    width: 22%;
  }

  /* line 1179, ../sass/app/_state.scss */
  .single .span3 {
    width: 100%;
  }

  /* line 1182, ../sass/app/_state.scss */
  .double .span3 {
    width: 48%;
  }

  /* line 1185, ../sass/app/_state.scss */
  .triple .span3 {
    margin-left: 28px;
    width: 22%;
  }

  /* line 1189, ../sass/app/_state.scss */
  .triple .span3.first {
    margin-left: 20px;
    width: 47%;
  }

  /* line 1193, ../sass/app/_state.scss */
  .quad .span3 {
    width: 25%;
  }

  /*
  .none .span3 {
    width: 270px;
  }
  */
}
@media (min-width: 1200px) {
  /* line 1207, ../sass/app/_state.scss */
  [class*="span"],
  [class*="region-content-bottom-"],
  body.sidebar-second #main-content {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }

  /* line 1214, ../sass/app/_state.scss */
  body.sidebar-first #main-content {
    float: right;
    min-height: 1px;
    left: -40px;
    top: -5px;
  }

  /* line 1220, ../sass/app/_state.scss */
  body.no-sidebars #main-content {
    float: none;
    min-height: 1px;
    /*margin-left: 30px;*/
  }

  /* line 1225, ../sass/app/_state.scss */
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
    max-width: 1170px;
  }

  /* line 1233, ../sass/app/_state.scss */
  .tagline h3 {
    font-size: 2.8em;
  }

  /* line 1239, ../sass/app/_state.scss */
  .span9,
  body.sidebar-second #main-content,
  body.sidebar-first #main-content {
    /*width: 820px;*/
    width: 70%;
    /*870/1200*/
  }

  /* line 1245, ../sass/app/_state.scss */
  .page-node-210.sidebar-second #main-content {
    width: 63%;
  }

  /* line 1249, ../sass/app/_state.scss */
  .span6,
  body.two-sidebars #main-content {
    width: 630px;
    float: left;
  }

  /* line 1255, ../sass/app/_state.scss */
  .span3,
  .highlights .region,
  .region-sidebar-second,
  .region-sidebar-first {
    width: 270px;
    /*width: 22.5%; */
    /*270/1200*/
  }

  /* line 1263, ../sass/app/_state.scss */
  .single .span3 {
    width: 100%;
  }

  /* line 1266, ../sass/app/_state.scss */
  .double .span3 {
    width: 48%;
  }

  /* line 1269, ../sass/app/_state.scss */
  .triple .span3 {
    width: 22%;
  }

  /* line 1272, ../sass/app/_state.scss */
  .triple .span3.first {
    width: 50%;
  }

  /* line 1275, ../sass/app/_state.scss */
  .quad .span3 {
    width: 25%;
  }

  /*
  .none .span3 {
    width: 270px;
  }
  */
  /* line 1285, ../sass/app/_state.scss */
  .region-sidebar-second,
  .region-sidebar-first {
    width: 22%;
  }

  /* line 1289, ../sass/app/_state.scss */
  .page-node-210 .region-sidebar-second {
    width: 30%;
  }
}
