//////////////////////////////////////////////////////////////////////////////
//
// 88b           d88 88             88                        
// 888b         d888 ""             ""                        
// 88`8b       d8'88                                          
// 88 `8b     d8' 88 88 8b,     ,d8 88 8b,dPPYba,  ,adPPYba,  
// 88  `8b   d8'  88 88  `Y8, ,8P'  88 88P'   `"8a I8[    ""  
// 88   `8b d8'   88 88    )888(    88 88       88  `"Y8ba,   
// 88    `888'    88 88  ,d8" "8b,  88 88       88 aa    ]8I  
// 88     `8'     88 88 8P'     `Y8 88 88       88 `"YbbdP"' 
//
//////////////////////////////////////////////////////////////////////////////

// Compass, importing CSS3 mixins and it's utilities

//@import "compass/css3";
//@import "compass/utilities";


// Font stacks
@mixin BodyFontStack {
  	color: $base-font-color;
	font-size: $base-font-size;
	font-family: $base-font-stack;
}

@mixin BodyBackground {
	background-color: $bgcolor-body;
	background-image: $bgimage-body;
	background-repeat: repeat;
}

@mixin h1BorderBottom {
	border-bottom:1px solid #eaf1e3;
    padding-bottom: 3px;
}

@mixin rotate360 {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

@mixin highlightBgTransition {
	-webkit-transition: background 0.1s ease;
    -moz-transition: background 0.1s ease;
    -o-transition: background 0.1s ease;
    transition: background 0.1s ease;
}

@mixin highlightIconTransition {	
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition:all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

@mixin navigationTransition {
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}



// Interpolating mixin
@mixin socialBars($network) {
    div#social-links ul li a.#{$network} {
        background: url('../images/icons/social/#{$network}-bar-no-text.png') no-repeat 0 0;
    }
}



//transitions
@mixin da-thumbs-animateTransition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}