//////////////////////////////////////////////////////////////////////////////
//
// 8b           d8                     88            88          88             
// `8b         d8'                     ""            88          88             
//  `8b       d8'                                    88          88             
//   `8b     d8' ,adPPYYba, 8b,dPPYba, 88 ,adPPYYba, 88,dPPYba,  88  ,adPPYba,  
//    `8b   d8'  ""     `Y8 88P'   "Y8 88 ""     `Y8 88P'    "8a 88 a8P_____88  
//     `8b d8'   ,adPPPPP88 88         88 ,adPPPPP88 88       d8 88 8PP"""""""  
//      `888'    88,    ,88 88         88 88,    ,88 88b,   ,a8" 88 "8b,   ,aa  
//       `8'     `"8bbdP"Y8 88         88 `"8bbdP"Y8 8Y"Ybbd8"'  88  `"Ybbd8"'  
//
//////////////////////////////////////////////////////////////////////////////

// Colours
$bgcolor-body: #eff3eb;


// Images
$bgimage-body: url(../images/body-bg.png);

$bgimage-tagline: url(../images/header-bg-728x100.png);

$header-bg: url(../images/header-bg.png);

$footer-menu-bg: url("../images/footer-base-bg.png");

// Fonts
$base-font-size: 14px;

$h1-font-size: $base-font-size*2.5;

$base-line-height: 18px;

$h1-line-height: $base-line-height*2.5;// 42px;




//$base-font-stack: "pt_sansregular", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
$base-font-stack: "chaparral-pro", Helvetica, "Trebuchet MS", Arial, sans-serif;

//$h1-font-stack: "open_sanslight", "Helvetica Neue", Helvetica, "Trebuchet MS", Arial, sans-serif;
$h1-font-stack: "open-sans",sans-serif;
  
//$h2-font-stack: "open_sanssemibold", "pt_sansregular", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$h2-font-stack: "open-sans-condensed",sans-serif;
//font-style: normal;
//font-weight: 300;

//$h3-font-stack: "pt_sansregular", "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$h3-font-stack: $h2-font-stack;

//$h3-tagline-font-stack: "open_sanslight", "Helvetica Neue",Helvetica, Arial, sans-serif;
$h3-tagline-font-stack: $h2-font-stack;

//$blocktitle-font-stack: "open_sanscondensed_light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$blocktitle-font-stack: $h2-font-stack;

$base-font-color: #787878;
$h1-colour: #8FB76C;





// Faux columns for paragraphs
$column1: 1;
$column2: 2;
$column3: 3;

$columngap1: 0px;
$columngap2: 35px;
$columngap3: 18px;


// Shadows


//Media query breakpoints
$body-min-width: 200px;

// Grid values


