/*-----------------------------------------------------------------------------------*/
/*   Comments
/*-----------------------------------------------------------------------------------*/
.comments .textarea {
    border: 1px solid #EDEDED;
    margin-bottom: 40px;
    margin-left: 94px;
    padding: 10px 20px;
    position: relative;
}
.comments .avatar{
    position: relative;
    float: left;
    margin-right: -5px;
}
.comments .comments-list{
    list-style: none !important;
}
.comments .comments-list ul{
    margin-left: 30px;
    margin-bottom: 20px;
}
.comments .meta{
    font: 12px 'Open Sans', serif;
    color: #666666;
    padding-bottom: 8px;
    margin-bottom: 10px !important;
    border-bottom: 1px dotted #e2e2e2;
}
.comments ul ul .textarea {margin-top:-20px;}