// Drupal 7 specific pager styles


/*pagers*/
.item-list ul.pager li{
  margin-left:1px;
  padding-left:0.2em;
  padding-right:0.2em;
}


/* Pagination */

.pagination li {
    list-style: none;
    float: left;
    margin-right: 5px;
}
.pagination a{
    background-color: transparent;
    font-size: 0.9em;
    display: inline-block;
    border-left-width: 1px;
}