// Drupal 7 specific typography styles


//definition lists and terms
body dl{
  margin:15px 0 10px 5px;
}
body dt{
  margin:15px 0 10px 5px;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 600;
  font-size: 105%;
  display: inline-block;
}
body dd{
  margin: 2px 0 2px 3px;
  font-style: italic;
}
