// Drupal 7 specific message styles

/*-----------------------------------------------------------------------------------*/
/*  custom message styles
/*-----------------------------------------------------------------------------------*/
div.taxonomy-description.messages.status{
    background-image: url("../images/info-box-icon.png");
    background-position: 0 0;
}
#node-210 div.messages.warning{
    background-image: url("../images/warn-box-icon-sm.png");
    background-position: 0 0;
    padding-left:95px;
}
#node-210 div.messages.warning p,
#node-210 div.messages.warning p:first-child:first-line{
    font-size:14px;
    font-family: inherit;
    margin-top:0;
    font-style: oblique;
}
