
.regular-table{
    margin-bottom: 35px;
}
.regular-table .table-data {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ECECEC;
    margin-left: -1px;
    width: 100%;
}
.regular-table .table-data .heading {
    background: none repeat scroll 0 0 #7DA817;
    height: 40px;
}
.regular-table .table-data .heading td.features {
    border: 1px solid #ECECEC !important;
    color: #707070;
    text-transform: uppercase;
}
.regular-table .table-data .heading .features {
    background: none repeat scroll 0 0 #FFFFFF;
}
.regular-table .table-data .heading td {
    border: 1px solid #6f9614;
    font: 16px 'PT Sans',sans-serif;
    padding-top: 10px;
    text-align: center;
}
.regular-table .table-data .heading td {
    border: 1px solid #6f9614;
    color: #FFFFFF;
    /*font: 16px 'Droid Sans',sans-serif;*/
    padding-top: 10px;
    text-align: center;
}
.regular-table .table-data .included td {
    border-bottom: 1px solid #F0F0F0;
    border-right: 1px solid #E9E9E9;
    color: #888888;
    /*font: 12px/30px 'Droid Sans',sans-serif;*/
    padding-top: 10px;
    text-align: center;
}
.regular-table .table-data .included.colored {
    background: none repeat scroll 0 0 #FAFAFA;
}