// Drupal 7 specific list styles

@import "compass/typography/lists/bullets";

body ol, body ul{
  display: block;
  margin-top: 10px;
}
body ol{
  list-style-type: disc;
}
body ul{
  list-style-type:  decimal;
}

.block .view-archive ul li{
	//list-style-image: url("../images/icons/services-active-menu-item.png");
	//list-style-image: url("../../misc/menu-leaf.png");
	//@include pretty-bullets("icons/services-active-menu-item.png");
	//@extend .chrome-services-active-menu-item;
}

li.leaf.active-trail{
  background-image:none;
}

ul li ul{
	margin-left:10px;
	margin-bottom: 10px;
}
ul li ul li{
	list-style-type: square;
	list-style-image: none;
}