// Drupal 7 specific misc styles


/* Animated throbber */
//taken from system.base.css for override
//lines 32 - 40
html.js input.form-autocomplete {
  background-image: url(../../misc/throbber.gif);
  background-position: 100% 2px; /* LTR */
  background-repeat: no-repeat;
}
html.js input.throbbing {
  background-position: 100% -18px; /* LTR */
}



.views-exposed-widget.views-submit-button {
    float: right;
    left: 55px;
    top: -25px;
    position: relative;
}

/* Throbber */
//taken from system.base.css for override
//lines 162 - 181

//also .ajax-progress-throbber
.ajax-progress {
 // display: inline-block;
 
 //display:inline-block;
 //position: relative;
 //margin-left: 140px;
 //margin-top: -20px;
 float: right;
 height: 30px; //prevents animation obverlap with element below
 width: 80px;
 //background-color: red;
 position: relative;
 left:0;
 top:-20px;
 
}

.ajax-progress .throbber {
 /*
  background: transparent url(../../misc/throbber.gif) no-repeat 0px -18px;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px;
  */
  margin: 0 0 0 30px;
  float: none;
  background-image:none;
}
/*
.ajax-progress .message {
  padding-left: 20px;
}
*/
/*
tr .ajax-progress .throbber {
  margin: 0 2px;
}
*/
/*
.ajax-progress-bar {
  width: 16em;
}
*/

//forked from http://projects.lukehaas.me/css-loaders/

//3 growing blocks
/*
.throbber,
.throbber:before,
.throbber:after {
  background: #FFF;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 7px; //1em;
  //height: 8em; // 4em;
}
.throbber:before,
.throbber:after {
  position: absolute;
  top: 0;
  content: '';
}
.throbber:before {
  left: -12px; //-1.5em;
}
.throbber {
  text-indent: -9999em;
  //margin: 8em auto;

  position: relative;
  font-size: 6px; //11px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.throbber:after {
  left: 14px; //1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 20px; //4em;
  }
  40% {
    box-shadow: 0 -1em #cccccc;
    height: 25px; //5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 #ccc;
    height: 20px; //4em;
  }
  40% {
    box-shadow: 0 -1em #cccccc;
    height: 25px; //5em;
  }
}
*/

.throbber:before,
.throbber:after,
.throbber {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: throbber-anim 1.8s infinite ease-in-out;
  animation: throbber-anim 1.8s infinite ease-in-out;
}
.throbber {
  margin: 8em auto;
  font-size: 6px;
  position: relative;
  top:-6px;
  text-indent: -9999em;
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}
.throbber:before {
  left: -3em;
}
.throbber:after {
  left: 2.8em;
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}
.throbber:before,
.throbber:after {
  content: '';
  position: absolute;
  //top: 0;
}
@-webkit-keyframes throbber-anim {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #648449; //#ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #648449; //#FFF;
  }
}
@keyframes throbber-anim {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #648449; //#ffffff;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #648449; //#FFF;
  }
}

