///////////////////////////////////////////////////////////////////////////////////
//
// 88888888ba                                   
// 88      "8b                                  
// 88      ,8P                                  
// 88aaaaaa8P' ,adPPYYba, ,adPPYba,  ,adPPYba,  
// 88""""""8b, ""     `Y8 I8[    "" a8P_____88  
// 88      `8b ,adPPPPP88  `"Y8ba,  8PP"""""""  
// 88      a8P 88,    ,88 aa    ]8I "8b,   ,aa  
// 88888888P"  `"8bbdP"Y8 `"YbbdP"'  `"Ybbd8"'  
//
///////////////////////////////////////////////////////////////////////////////////

// base styles

// http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
  @include box-sizing(border-box);
}





// Base
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    margin-bottom: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}


// Establish the vertical Rhythm
@include establish-baseline;


html {
  	&>body {
	    @include BodyFontStack;

	  	/* @include font-smoothing(antialiased);*/
		@include BodyBackground;

		//min-width: $body-min-width;
		/*overflow-x:hidden;*/
 	}
}





.element-invisible{
    display: none;
}

.last{
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

.clear{clear: both;}

.alignleft,
.floatleft{float: left !important;}
.alignright,
.floatright{float: right !important;}
.aligncenter {text-align: center !important;}

























