/*
@-webkit-keyframes pulse_animation{
    0% { -webkit-transform:scale(1); }
    30% { -webkit-transform:scale(1); }
    40% { -webkit-transform:scale(1.38); }
    50% { -webkit-transform:scale(1); }
    60% { -webkit-transform:scale(1); }
    70% { -webkit-transform:scale(1.25); }
    80% { -webkit-transform:scale(1); }
    100% { -webkit-transform:scale(1); }
}
*/
/*pulse anim for portfolio button on front page*/
@-webkit-keyframes pulse_animation{
    0% { -webkit-transform:scale(1); }
    30% { -webkit-transform:scale(1); }
    40% { -webkit-transform:scale(1.08); }
    50% { -webkit-transform:scale(1.05); }
    60% { -webkit-transform:scale(1.02); }
    70% { -webkit-transform:scale(1.06); }
    80% { -webkit-transform:scale(1.02); }
    100% { -webkit-transform:scale(1); }
}


.btn-portfolio{
    margin-top:20px;
    background-color: #7DA817;
    background-image: linear-gradient(to bottom, #7DA817, #6D9807);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7DA817), to(#6D9807));
    background-image: -webkit-linear-gradient(top, #7DA817, #6D9807);
    background-image: -o-linear-gradient(top, #7DA817, #6D9807);
    background-image: linear-gradient(to bottom, #7DA817, #6D9807);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7DA817', endColorstr='#ff6D9807', GradientType=0);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 0;
    
    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 4700ms;
    -webkit-transform-origin:70% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: 'pulse_animation';
    -moz-animation-duration: 4700ms;
    -moz-transform-origin:70% 50%;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: 'pulse_animation';
    -o-animation-duration: 4700ms;
    -o-transform-origin:70% 50%;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -ms-animation-name: 'pulse_animation';
    -ms-animation-duration: 4700ms;
    -ms-transform-origin:70% 50%;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: 'pulse_animation';
    animation-duration: 4700ms;
    transform-origin:70% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.btn-portfolio:hover{
    background-color: #76A046; /*#7DA817;*/
    background-position: 0 0;
    color: #1F3A19;

    -webkit-animation-name: 'pulse_animation';
    -webkit-animation-duration: 4700ms;
    -webkit-transform-origin:70% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: 'pulse_animation';
    -moz-animation-duration: 4700ms;
    -moz-transform-origin:70% 50%;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -o-animation-name: 'pulse_animation';
    -o-animation-duration: 4700ms;
    -o-transform-origin:70% 50%;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    -ms-animation-name: 'pulse_animation';
    -ms-animation-duration: 4700ms;
    -ms-transform-origin:70% 50%;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: 'pulse_animation';
    animation-duration: 4700ms;
    transform-origin:70% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}





// Buttons at footer of front page highlight sections
.btn-hl {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */

    *zoom: 1;
    padding: 4px 14px;
    margin-bottom: 0;
    font-size: $base-font-size*0.9;
    line-height: $base-line-height;
    *line-height: $base-line-height;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border-radius: 0;
}