// Font replacements

/*
@font-face {
	$fontpath: "../fonts/PT-Sans/ptsans_regular/";
    font-family: 'pt_sansregular';
    src: url($fontpath+'PTS55F-webfont.eot');
    src: url($fontpath+'PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontpath+'PTS55F-webfont.woff') format('woff'),
         url($fontpath+'PTS55F-webfont.ttf') format('truetype'),
         url($fontpath+'PTS55F-webfont.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
	$fontpath: "../fonts/open-sans/opensans_light/";
    font-family: 'open_sanslight';
    src: url($fontpath+'OpenSans-Light-webfont.eot');
    src: url($fontpath+'OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontpath+'OpenSans-Light-webfont.woff') format('woff'),
         url($fontpath+'OpenSans-Light-webfont.ttf') format('truetype'),
         url($fontpath+'OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	$fontpath: "../fonts/open-sans-condensed/opensanscondensed_light/";
    font-family: 'open_sanscondensed_light';
    src: url($fontpath+'OpenSans-CondLight-webfont.eot');
    src: url($fontpath+'OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontpath+'OpenSans-CondLight-webfont.woff') format('woff'),
         url($fontpath+'OpenSans-CondLight-webfont.ttf') format('truetype'),
         url($fontpath+'OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	$fontpath: "../fonts/open-sans/opensans_semibold/";
    font-family: 'open_sanssemibold';
    src: url($fontpath+'OpenSans-Semibold-webfont.eot');
    src: url($fontpath+'OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url($fontpath+'OpenSans-Semibold-webfont.woff') format('woff'),
         url($fontpath+'OpenSans-Semibold-webfont.ttf') format('truetype'),
         url($fontpath+'OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


