// Image styles


div.node-page .field-name-body img:not(.imageborder){
    max-width:320px;
    width:100%;
    float:right;
    margin:0 5px 10px 10px;

    @media screen and (max-width:550px){
        width: 60%;
    }
    @media screen and (max-width:400px){
        width: 100%;
        margin: 0 auto 10px auto;
        float:none;
    }
}
.page-node-212 div.node-page .field-name-body img:not(.imageborder){
    max-width:263px;
}

#node-2.node-page img{
    margin-right:0;
}

//about page
body.page-node-210 div.node-page .field-name-body img{
    padding:4px;
    border:1px solid #CDCDCD;
    margin: 0 0 10px 10px;
}
#node-211 .content img{
    float:right;
    width:50%;
    margin-right:10px;
}



/*image borders*/
.imageborder{
    padding:4px;
    border:1px solid #CDCDCD;

    &.alignleft{
        margin-right:12px;
    }
    &.alignright{
        margin-left:12px;
    }
}



#main-content .field-name-field-full-image img{
    border:1px solid #DADADA;
    padding:2px;
}


.node-teaser img {
    border:1px solid #9a9a9a;
    
    &:hover {
        border:1px solid #88b164;
    }
    
}


.portfolio-feature img {
    -webkit-border-radius: 40px 40px 0 0;
    -moz-border-radius: 40px 40px 0 0;
    border-radius: 40px 40px 0 0;
    vertical-align: top;

    @media screen and (min-width:525px) and (max-width: 767px){
        -webkit-border-radius: 40px 0 0 0;
        -moz-border-radius: 40px 0 0 0;
        border-radius: 40px 0 0 0;
    }
}

.portfolio img{
    display: block;
}
