
/* Link Styles */
a{
    color: #7DA817;
    text-decoration: none;

    .title &{
        color: #7DA817;
        font-weight: 600;
        font-size: 12px;
    }

    .node-blog h2 &{
        color: #76a051;

        &:hover{
            color: #537139;
            text-decoration: underline;
        }
    }

    h4.title &,
    & h4.title{
        font-size:16px;
        font-weight:400;
        letter-spacing: 0.05em;
        color: #7DA817;
    }

    .view-recent-portfolio-websites .views-field-taxonomy-vocabulary-1 &{
        color:  #c2c2c2;

        &:hover{
            color:  #fdfdfd;
        }
    }   

    .node p &{
        text-decoration:underline;
    }


    &:hover{
        text-decoration: none;
        color: #1d1d1c;

        p &{
            text-decoration: underline;
        }
    }
}

.title a:hover,
a:hover h4.title{
    color: #1d1d1c;
}

.view-recent-portfolio-websites .views-field-view-node{
    padding-top: 8px; 
}

#block-menu-menu-services ul li.active-trail{
    //list-style-image: $icon-services-active;
    //@extend .chrome-services-active-menu-item;
    font-weight: bold;
    font-size: 105%;
    line-height: 105%;

    & a{
        color:#548751;
    }
}


/* Read More */
.read-more{
    display: block;
    color: #7DA817;
    letter-spacing: 0.02em
}
.read-more:hover{color: #1d1d1c;}








