//////////////////////////////////////////////////////////////////////////////
//
// 88b           d88                                               
// 888b         d888                                               
// 88`8b       d8'88                                               
// 88 `8b     d8' 88  ,adPPYba, 8b,dPPYba,  88       88 ,adPPYba,  
// 88  `8b   d8'  88 a8P_____88 88P'   `"8a 88       88 I8[    ""  
// 88   `8b d8'   88 8PP""""""" 88       88 88       88  `"Y8ba,   
// 88    `888'    88 "8b,   ,aa 88       88 "8a,   ,a88 aa    ]8I  
// 88     `8'     88  `"Ybbd8"' 88       88  `"YbbdP'Y8 `"YbbdP"'
//
//////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////
// Main menu
///////////////////////////////////////////////////////////////////////////////////

#mainmenu {
    background: none repeat scroll 0 0 #eff3eb;
    border-bottom: 1px solid #E7E7E7;
    display: inline-block;
    width: 100%;
}
#block-superfish-1{
    /*
    max-width: 700px;
    margin-top: 0;
    margin-right: auto!important;
    margin-bottom: 0;
    margin-left:auto!important;
    */
    margin-left:8px;
}
.res-menu{display: none;}
.res-menu{
    width: 100%;
    margin-top: 8px;
}
#menu ul {margin-left:9px;}
#menu > ul,
.block-superfish > ul{
    display: block;
    margin-left:0;
    margin-bottom: 0;
}
#menu > ul > li,
.block-superfish > ul > li{
    list-style: none;
    float: left;
    position: relative;
    padding:0;
    border-bottom: 4px solid transparent;
    
    @include navigationTransition;
}
#menu > ul > li:hover,
.block-superfish > ul > li:hover,
#menu > ul > li.active-trail{
    border-bottom: 4px solid #7DA817;

}
#menu > ul > li > a,
.block-superfish > ul > li > a{
    font-size: $base-font-size*1.45;
    font-weight: 400;
    color: #555;
    display: block;
    text-transform: uppercase;
    font-family: $h3-font-stack;
    border-bottom: 4px solid transparent;
    padding: 15px 10px 5px 10px;
    
    @include navigationTransition;
}

//hide from mobile
@media screen and (min-width: 400px ){

    #menu > ul a:hover,
    #menu > ul a.active,
    .block-superfish > ul a:hover{color: #7DA817;}

    #menu li.active-trail,
    .block-superfish li.active {
            border-bottom: 4px solid #7DA817;
    }
    #menu .active a,
    .block-superfish .active a{
        color: #7DA817;
    }

}


#menu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    position: absolute;
    width: 190px;
}
#menu > ul > li > ul,
.block-superfish > ul > li >ul {
    margin-top: -2px;
    border-top: 4px solid #7DA817;
    z-index: 99999;
}
#menu ul ul li {
    border-bottom: 1px solid #f3f3f3;
    list-style: none outside none;
    padding: 5px 30px 5px 5px;
    position: relative;
}

#menu ul ul li.last{
    border-bottom: none !important;
}
#menu ul ul li.menu-last{border-bottom: none;}
#menu ul ul a{
    display: block;
    padding: 5px 0;
    color: #717171;
    font-size: $base-font-size;

}
#menu > ul > li > ul > li > ul,
.block-superfish > ul > li > ul > li > ul  {
    border-top: 4px solid #7DA817;
    margin-left: -14px;
    margin-top: -12px;
    }
#menu ul ul a:hover{color: #7DA817;}
#menu li:hover {visibility: inherit;}
#menu li:hover ul,
#menu li.sfHover ul {
    left: -9px;
    top: 46px;
    z-index: 99;
}
#menu li li:hover ul,
#menu li li.sfHover ul {
    left: 166px;
    top: -2px;
}



///////////////////////////////////////////////////////////////////////////////////
// Footer Menu 
///////////////////////////////////////////////////////////////////////////////////

#footer-menu .span4{
    /*width:400px;*/
    width:30%;
    float:right;
}
#footer-menu {
    /*background-color: #B6B6B6;*/
    /*background-color: #b6c5a2;*/
    background: #44543E $footer-menu-bg repeat-x 0 0;

    width: 100%;
    color: #FFFFFF;
}
#footer-menu .span8{
    /*width:720px;*/
    width:55%;
    float:left;
}

#footer-menu .container{
    padding-top: 0;
    padding-bottom: 0;
}
#footer-menu{
    & p{
        font-size: $base-font-size*1.5;
        font-family: $h3-font-stack;
        color: #fff;
        padding:0 15px 0 0;
        letter-spacing: 0.04px;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
        text-align: right;
    }
    & ul{
        margin-left:0;
    }
    & li{
        list-style: none;
        padding: 15px 0;
        margin-left: 10px;
        float: left;
        font-size: 10px;
    }
    & a {
        color: #FFFFFF;
        font-family: $h3-font-stack;
        font-size: $base-font-size*1.6;
        font-weight: 400;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

        &:hover{
            text-decoration: underline;
            text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
        }
    }
    
    
}




