///////////////////////////////////////////////////////////////////////////////////
//
// 88b           d88                      88             88             
// 888b         d888                      88             88             
// 88`8b       d8'88                      88             88             
// 88 `8b     d8' 88  ,adPPYba,   ,adPPYb,88 88       88 88  ,adPPYba,  
// 88  `8b   d8'  88 a8"     "8a a8"    `Y88 88       88 88 a8P_____88  
// 88   `8b d8'   88 8b       d8 8b       88 88       88 88 8PP"""""""  
// 88    `888'    88 "8a,   ,a8" "8a,   ,d88 "8a,   ,a88 88 "8b,   ,aa  
// 88     `8'     88  `"YbbdP"'   `"8bbdP"Y8  `"YbbdP'Y8 88  `"Ybbd8"'
//
///////////////////////////////////////////////////////////////////////////////////

// Module styles (nothing to do with Drupal modules)
//
// The ideal module is completely independent of its context and should work 
// within any layout container or other module.
//
// Media queries are handled in the _state.scss file and use 
// the breakpoints that are defined in the _variables.scss file




///////////////////////////////////////////////////////////////////////////////////
//         Search form 
///////////////////////////////////////////////////////////////////////////////////

#search-block-form #edit-actions{
    float:right;
    padding:0;
    margin:0;
}
.form-item.form-type-textfield.form-item-search-block-form{
    float:left;
}


///////////////////////////////////////////////////////////////////////////////////
// Breadcrumbs 
///////////////////////////////////////////////////////////////////////////////////

.breadcrumbs{
    position: relative;
    padding: 20px 0;
}
.breadcrumbs h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: capitalize !important;
}
.breadcrumbs div{
    letter-spacing: 0.02em;
    font-size: 12px;
    display: inline-block;
}
.breadcrumbs a{
    display: inline-block;
}
.breadcrumbs a:hover{color: #111;}

body.no-sidebars div.breadcrumb{
    margin-left:10px;
    margin-right:10px;
}


///////////////////////////////////////////////////////////////////////////////////
// Taxonomy display
///////////////////////////////////////////////////////////////////////////////////

.node-teaser .field-type-taxonomy-term-reference,
.node-blog .field-type-taxonomy-term-reference{

    float:left;
    display:block;
    width:100%;
    margin-bottom: 3px;
    padding:0 2px;
}

.node-teaser .field-type-taxonomy-term-reference{
    padding:0;
    margin-top:2px;
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-blog .field-type-taxonomy-term-reference .field-label{
    float: left;
    margin-left:3px;
}
.node-teaser .field-type-taxonomy-term-reference .field-item.even,
.node-teaser .field-type-taxonomy-term-reference .field-item.odd,
.node-blog .field-type-taxonomy-term-reference .field-item.even,
.node-blog .field-type-taxonomy-term-reference .field-item.odd  {
    float: left;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
}

.node-teaser .field-type-text-with-summary,
.node-blog .field-type-text-with-summary{
    clear:both;
    margin-bottom:12px;
}


///////////////////////////////////////////////////////////////////////////////////
// Node teasers
///////////////////////////////////////////////////////////////////////////////////

.node-teaser{
    border-bottom: 2px solid #bebebe;
    margin-bottom: 32px;
    padding-bottom: 35px;
    clear:both;
}
.view-creative-notes .node-teaser{
    padding-bottom: 40px;
}
.node-teaser ul.links li{
    float: right;
}

.node-teaser ul.links li.node-readmore a {
    background-image:none;
    box-shadow: none;
    text-shadow:none;
    background-color: transparent;
    border: 1px solid #343434;
    border-radius: 3px 3px 3px 3px;
    color: #7d7d7d;
    display: inline-block;
    font-size: 13px;
    font-weight:900;
    margin-right: 3px;
    padding: 4px 10px;
}
.node-teaser ul.links li.node-readmore a span.element-invisible{
    display:inline-block;
    height:auto;
    position: relative!important;
    overflow: visible;
    padding-left: 2px;
}





///////////////////////////////////////////////////////////////////////////////////
// Blocks
///////////////////////////////////////////////////////////////////////////////////

.block-title{
    /* margin:20px 0 30px; */
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    /*
    border-bottom: 1px solid #698F48;
    color: #698F48;
    */
    /*color: #C6D6B6;*/
    color: #647F4C;
    border-bottom: 1px solid #D2E0C5;
    width:95%;
    font-size: 18px;
}





