///////////////////////////////////////////////////////////////////////////////////
//                                                      
//  ad88888ba 888888888888   db   888888888888 88888888888  
// d8"     "8b     88       d88b       88      88           
// Y8,             88      d8'`8b      88      88           
// `Y8aaaaa,       88     d8'  `8b     88      88aaaaa      
//   `"""""8b,     88    d8YaaaaY8b    88      88"""""      
//         `8b     88   d8""""""""8b   88      88           
// Y8a     a8P     88  d8'        `8b  88      88           
//  "Y88888P"      88 d8'          `8b 88      88888888888
//
///////////////////////////////////////////////////////////////////////////////////


@media (max-width:400px) {

    #block-superfish-1 {
        height:42px;
    }
    .region-header #menu > ul > li, 
    .region-header .block-superfish > ul > li {
        width:25%;
        margin:0;
        padding:0;
        height:61px;

    }
    .region-header #menu > ul > li > a, 
    .region-header .block-superfish > ul > li > a {
        border-bottom: none;
        color: #555;
        display: block;
        margin-top: 0;
        //font-family: "pt_sansregular","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 8px;
        font-weight: 100;
        padding: 38px 0 0 0; //15px 10px 5px;
        text-transform: none;
        transition: all 0.4s ease-in-out 0s;
        //text-indent:-99999px;

        width:100%;
        height:45px;


        //background-image: url(../images/icons/navigation-s7c7b08b9ac.png);
        background-image: url(../images/icons/navigation-sprite.png);
        
        background-repeat: no-repeat;

        background-position: center 0;
        //@include all-navigation-sprites;
    }

    //first link hidden
    .block-superfish > ul > li.first{
        //display:none;
    }
    .region-header .block-superfish > ul > li:nth-child(2)  > a{
        background-position: center -125px;
    }
    .region-header .block-superfish > ul > li:nth-child(3)  > a{
        background-position: center -85px;
    }
    .region-header .block-superfish > ul > li:nth-child(4)  > a{
        background-position: center -5px;
    }
    .region-header .block-superfish > ul > li:nth-child(5)  > a{
        background-position: center -45px;
    }

    .region-header #menu > ul > li > a:hover, 
    .region-header .block-superfish > ul > li > a:hover {

    }

    #da-slider .da-slide h2 {
        top:0;
        margin-top:7px;
    }
    #da-slider .da-slide p {
        top:22px;
        line-height: 18px;
    }
    #da-slider .da-slide img {
        margin-top: 0;
        top:50px;
    }
}




@media (max-width:400px) {
    div.node-page .field-name-body img:not(.imageborder){
        margin:0;
    }
    .da-slide h2 {
        font-size: 22px;
        top:5px;
    }
}




@media (max-width: 480px){
    .top-social{
        text-align: center;
            }
    .top-social a{
        float:none;
    }
    .top-social a:last-of-type{
        margin-left: 5px;
    }
    .regular-table .table-data .heading td {
       font-size:12px;
    }
    #menu{
        float: none;
    }
    #header {
        padding: 12px 0 10px 0;
    }
    #header .logo img {
     float:none;
     margin: 0 auto;
    }
    #footer .form-horizontal .control-group > label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
    }
    #footer .form-horizontal .controls {
        margin-left: 0;
    }
    #footer .form-horizontal .control-list {
        padding-top: 0;
    }
    #footer .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px;
    }
    #footer .submit-div {width:225px;}
   
    #footer-menu p{
        font-size:12px;
        text-align: center;
    }
    .da-slider{
        min-width:300px;
        /*height: 325px; */ //285px;
        margin:0;
            }
    .da-slide{
        height:220px;
    }
    .da-slide h2 {
        font-size: 25px;
        font-weight: 400;
        top:0;
        //margin: 15px 0 10px;
    }
    .da-slide a.da-link{
        /*top: 220px;*/
        width:90%;
        font-size: 90%;
    }
    .da-slide p {
        //font-size: 12px;
        //line-height: 18px;
        top: 35px;
        width:48%
    }
    .da-slide .da-img{
        width:40%!important;
        //top:0px;
    }
    .da-img img{
        vertical-align: top;
        margin-top:50px;
        //height:180px;
    }
}




@media (max-width:600px) {
    .maintenance-page #main-content .region-content{
        margin:0 30px;
    }
}



@media (max-width:1600px) {
    .node-type-blog .node .field-type-text-with-summary .multicol,
    .not-front.node-type-page .node .field-type-text-with-summary .multicol{
        -moz-column-count: $column3;
        -webkit-column-count: $column3;
        column-count: $column3;
        -moz-column-gap: $columngap3;    
        -webkit-column-gap: $columngap3;    
        column-gap: $columngap3; 
    }
}
@media (max-width:1400px) {
    .node-type-blog .node .field-type-text-with-summary .multicol,
    .not-front.node-type-page .node .field-type-text-with-summary .multicol{
        -moz-column-count: $column2;
        -webkit-column-count: $column2;
        column-count: $column2;
        -moz-column-gap: $columngap2;    
        -webkit-column-gap: $columngap2;    
        column-gap: $columngap2; 
    }
}
@media (max-width:560px) {
    .node-type-blog .node .field-type-text-with-summary .multicol,
    .not-front.node-type-page .node .field-type-text-with-summary .multicol{
        -webkit-column-count: $column1;
        -moz-column-count: $column1;
        column-count: $column1;
        -moz-column-gap: $columngap1;    
        -webkit-column-gap: $columngap1;    
        column-gap: $columngap1; 
    }
}

@media (max-width: 680px) {
    
    #header .row div.logo{
        width:100%;
        text-align: center;
    }
    #header .row div.logo a#logo{
        width:100%;
        max-width: 369px;
        margin:0 auto;
        display: block;
    }
}

@media (max-width: 550px){
    #menu ul#superfish-1{
        margin-left:0;
    }
    #menu ul ul{
    }
    #menu ul ul li{
        padding:3px 0;
    }
    #menu li.sf-item-4.sfHover ul {
        margin-left: -40px;
        margin:0;
        padding:0;
    }
}


/*responsive menu changes*/
@media (max-width: 738px){
    .block-superfish > ul > li > a{
        padding: 15px 6px 5px 6px;
        font-size: $base-font-size*1.4;
    }
}
/*
@media (max-width: 689px){
    .block-superfish > ul > li > a{
        padding: 15px 6px 5px 6px;
        font-size: $base-font-size*1.3
    }
}
*/
/*
@media (max-width: 654px){
    .block-superfish > ul > li > a{
        padding: 15px 6px 5px 6px;
        font-size: $base-font-size*0.95;
    }
}
*/
@media (max-width: 600px){
    .block-superfish > ul > li{
        padding: 0;
        width: 20%;
        text-align: left;
    }
    .region-header .block-superfish > ul > li{
        //width: 18%;
        text-align: center;
    }
    .block-superfish > ul > li > a{
        padding: 12px 4px 3px 4px;

    }
}
//@media screen and (min-width:510px) and (max-width: 600px){
@media screen and (max-width: 600px){
    .region-header .block-superfish > ul > li{
        width: 20%;
        margin-left: 0;
    }
}

@media (max-width: 605px){
    .block-superfish > ul > li > a{
        padding: 8px 4px 3px 4px;
        font-size: $base-font-size*0.9;
    }
    .region-header .block-superfish > ul > li > a{
        font-size: $base-font-size*1.4;
    }
}
@media (max-width: 594px){
    .block-superfish > ul > li > a{
        padding: 8px 4px 3px 4px;
    }
}
@media (max-width: 589px){
    .block-superfish > ul > li > a{
        font-size: $base-font-size*0.88;
    }
}
@media (max-width: 564px){
    .block-superfish > ul > li > a{
        padding: 8px 3px 3px 3px;
    }
}
@media (max-width: 552px){
    .block-superfish > ul > li > a{
        padding: 8px 2px 3px 2px;
    }
}
@media (max-width: 524px){

    #menu ul ul{
        width:160px;
    }
    
    /*
    .block-superfish > ul > li{
        width:33%;
        margin-left:0;

    }
    */
    //only showing 4 items
    /*
    .block-superfish > ul > li{
        width:25%;
        margin-left:0;

    }
    .block-superfish > ul > li > a{
        padding: 8px 3px 3px 3px;
        text-align: center;
        font-size: $base-font-size;
    }
    */
    //footer services menu
    #block-superfish-4.block-superfish > ul > li > a{
        text-align: left;
    }
    li.sf-item-4 a{

    }
    li.sf-item-4 ul{
        margin-left:-10px!important;
    }
    li.sf-item-4 ul li{
        margin-left:0;
    }
    li.sf-item-4 ul li a{
        
    }
}
@media (max-width: 589px){
    .block-superfish > ul > li > a{
        font-size: $base-font-size*0.75;
    }
}
@media (max-width: 436px){
    /*
    .block-superfish > ul > li.first{
        display:none;
    }
    */
    .block-superfish > ul > li.first{
        //display:none;
    }
    li.sf-item-4 ul{
        margin-left:-20px!important;
    }
    /*
    .block-superfish > ul > li{
        width:33%;
        margin:0;
    }
    */
    //only showing 4 items
    .block-superfish > ul > li{
        width:24%;
        margin:0;
    }
    .block-superfish > ul > li > a{
        padding: 8px 1px 3px 7px;
    }
    .region-header .block-superfish > ul > li > a{
        font-size: $base-font-size*1.2;
    }
    .da-slide .da-link{
        width:65%;
    }

}
@media (max-width: 415px){
    li.sf-item-4 ul{
        margin-left:-30px!important;
    }
}










@media (max-width:979px) and (min-width: 630px)  {
    body.two-sidebars #main-content{
        width:74%;
    }

}
/*
@media (max-width:979px) {
    .da-slide .da-img{
        top:75px;
    }
}
@media (max-width:920px) {
    .da-slide .da-img{
        top:85px;
    }
}
*/
@media (max-width:629px) {
    body.two-sidebars #main-content{
        width:96%;
    }
}
@media (max-width: 767px) and (min-width: 630px) {
    .region-sidebar-second, .region-sidebar-first{
        width:20%;
    }
}
@media (max-width:629px) {
    body.two-sidebars .region-sidebar-second, 
    body.two-sidebars .region-sidebar-first{
        width:45%;
    }
}



@media (max-width: 980px) {
    .front #main-content h1 {
        font-size: 22px;
    }
}
@media (max-width: 710px) {
    .front #main-content h1 {
        font-size: 20px;
        //line-height:26px!important;
    }
}

/*@media (min-width: 768px) and (max-width: 979px) {*/
@media (min-width: 768px) {
    .front #main-content p {
       // margin:0 120px 10px 120px;
       // line-height: 180%;
       // font-size: 165%;
        
    }
}
@media (max-width: 620px) {
    .front #main-content p {
        line-height: 150%;
        font-size: 145%;
    }
}
@media (max-width: 500px) {
    .front #main-content h1 {
        font-size:170%;
    }
    .front #main-content p {
        line-height: 120%;
        font-size: 125%;
        margin:0 5px 10px 5px;
    }
}












@media (min-width: 776px) and (max-width: 900px) {
    #inline-checklist{
        padding:1em 0.8em;
    }
}
@media (max-width: 500px) {
    #inline-checklist{
        float: none;
        width:80%;
        margin-left:0;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .highlights-content {
      background-position: center -1250px;
        margin-top: -60px;
        min-height: 435px;
    }
    .highlights div:hover .highlights-content{
        background-position: center -110px;
        color:#FEFEFE;
    }
    .highlights-content .style-div{
       min-height: 480px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
      .tagline h3{
        font-size: 1.2em;
      }
    .highlights-content {
      background-position: center -1250px;
        margin-top: -60px;
        min-height: 435px;
    }
    .highlights div:hover .highlights-content{
        background-position: center -40px;
        color:#FEFEFE;
    }
    .highlights-content .style-div{
       min-height: 640px;
    }
}

/*widemobile-highlightbg-sprites.jpg*/
@media (max-width: 767px) {
    .highlights-content {
    /*background: none repeat scroll 0 0 #f2f2f2;*/
        //@media screen and (min-width:600px){
            background-image: url(../images/widemobile-highlightbg-sprites.jpg);
            background-repeat: no-repeat;
            background-position: center -1090px;
            /*background-position: center -1210px;*/
        //}
        margin-top: -60px;
        min-height: 390px;
    }
   .highlight-footer{
       background-image: url(../images/widemobile-highlightbg-footer.png);
       background-repeat: no-repeat;
       background-position: center bottom;
    }
/*}
/*@media (min-width: 320px) and (max-width: 767px) {*/
/*@media (max-width: 767px) {*/
    /*
    .highlights-content {
      background-position: center -1210px;
        margin-top: -60px;
        min-height: 390px;
    }
    */
    .highlights div:hover .highlights-content{
        
        @media screen and (min-width: 600px){
            background-color: #729940;
            background-position: center -40px;
            color:#FEFEFE;

        }
        
        
    }
    .highlights-content .style-div{
       min-height: 210px;
       padding-bottom: 0px;
    }
    
    .highlights-content a.btn-hl{
        margin-top:40px;
    }
}















//#footer .form-horizontal .control-label {width: 25px;}
//#footer .form-horizontal .controls {margin-left: 45px;}
//#footer .form-horizontal .controls:first-child {*padding-left: 45px;}
//#footer .form-horizontal .form-actions {padding-left: 45px;}



@media (max-width:739px){
    #footer-menu li{
        padding:10px 0;
        margin-left:5px;
    }
    #footer-menu .span4{
        width:35%;
    }
    
}
@media (max-width:676px){
    #footer-menu li{
        width:30%;
    }
    #footer-menu .span4{
        width:45%;
    }
    #footer-menu .span8{
        width:45%;
    }
    
}
@media (max-width:572px){
    #footer-menu .span8,
    #footer-menu .span4{
        width:100%;
        float:none;
        margin-bottom: 0;
    }
    #footer-menu li{
        width:32%;
        padding:0;
        margin:8px 0 0 0;
        float:left;
        text-align: center;
    }
    #footer-menu li a{

        font-size: 1.6em;
    }
    #footer-menu p{
        text-align: center;
        padding-bottom: 10px;
    }
    
}
@media (max-width:475px){
    
    #footer-menu .span8{
        
    }
}

/*-----------------------------------------------------------------------------------*/
/*  5.  Post/Portfolio Content Styles
/*-----------------------------------------------------------------------------------*/
/* Categories */
#filtrable{
    margin-bottom: 30px;
    float: right;
}
#filtrable li{
    float: left;
    margin-left: 10px;
    list-style: none;
}

#filtrable a{
    padding: 4px 10px;
    background-color: transparent;
    border: 1px solid #ececec;
    font-size: 0.9em;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#filtrable a:hover,
#filtrable .current a{
    border-color: #ddd;
    background-color: #f5f5f5;
    color:#787878;
}









@media (max-width: 767px){
    #block-superfish-2{
        display: none;
    }
}

@media (max-width:820px) {
    .view-id-most_frequent_terms .view-content{
        height:200px;
        overflow: hidden;
    }
    .view-id-archive .view-content {
        height:210px;
        overflow: hidden;
    }
}



/*-----------------------------------------------------------------------------------*/
/*  10.  Thumbnails
/*-----------------------------------------------------------------------------------*/


@media (max-width:450px){
    .divider-hor > span {
        font-size: 20px;
    }

    #footer .container .row.triple .span3 ul{
        margin-bottom: 5px;
    }
    #footer .container .row.triple .span3 ul li{
        margin-bottom: 4px;
        line-height: 95%;
    }
    #footer .container .row.triple .span3 ul li a{
        font-size: 95%;
        line-height: 95%;
    }
}


@media only screen and (min-width: 980px)  and (max-width: 1199px){

    .btleft .es-nav {left: -53px;}
    /*#latest-work .carousel-wrapper li{width: 340px !important;}*/
    .figure-1 a.left-image {margin-right:5px;}
    .service.img-border-bg {margin-top:50px;}

}
@media only screen and (min-width: 980px)  and (max-width: 1065px){
    .da-slide h2{
        font-size: 40px;
        top:35px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {

    .btleft .es-nav {left: -43px;}
    #latest-work .carousel-wrapper li{width: 252px !important;}
    .flickr li{width: 68px}
    #sidebar .ul-col2 li {
        float: none;
        margin-right: 0;
        width: 90%;
    }
    #footer #contact input[type="text"], #footer #contact textarea{width: 90%}
    #footer [class^="icon-"]{display: none;}
    .service.img-border-bg {margin-top:50px;}
    .ident-bot-2 {margin-bottom:0;}
    .figure-3 {display:none;}

    .da-slide h2{
        font-size: 35px;
    }
}

@media (min-width:526px) and (max-width:767px){
    .view-recent-portfolio-websites .views-field.views-field-title{
        border-top: 1px solid #CDCDCD;
        border-top-right-radius:12px;
        border-top-left-radius:40px;
    }
}
@media (max-width: 767px){
    body{padding:0 }
    .container{padding: 0 20px;}

    /*
    #menu ul,
    .slides h3,
    #top-menu > .span6{display: none;}
    */
    #top-menu .top-social{float: none;}

    .res-menu{display: block;}
    .logo{text-align:center; ;}

    //.container > .row [class*="span"],
    .container > .row [class*="highlight_"]{
        margin:0 auto 30px auto;
        width:270px;
    }
    .container > .row > [class*="span"]:last-child,
    .container > row > [class*="highlight_"]{
        margin-bottom: 0 !important;
    }
   

    .btleft .es-nav{
        bottom: inherit;
        right: 0;
        left: inherit;
        top: -38px;
    }
    #latest-work .carousel-wrapper li{max-width: 15em !important;}
    .our-projects article:nth-last-child(-n+4) {margin-bottom: 30px !important;}

    #footer-menu .span4{
        margin-bottom: 15px;
        text-align:center;
    }

    .breadcrumbs {
        padding: 40px 20px;
        position: relative;
    }

    #sidebar section:last-child {margin-bottom: 0;}
    #sidebar .ul-col2{width: 100%}
    #sidebar .ul-col2 li {
        margin-right: 0;
        width: 50%;
    }

    .alignleft,
    .alignright{float: none !important;}

    #footer .submit-div {width:270px;}
    figure {display:inline-block; margin-right:15px;}
    
    .da-slide h2{
        font-size: 30px;
    }
    .da-slide p{
        font-size: 16px;
        //top:65px;
    }
    .da-slide a.da-link{
        //top:215px;
        //top:160px;
        top: 190px;
        width:90%;
    }

    /*remove meta info from recent entries*/
    .views-field.views-field-created,
    .views-field.views-field-taxonomy-vocabulary-1{
        display:none;
    }
    
    /*remove min height for mobile*/
    .view-recent-portfolio-websites .views-field-body{
        /*min-height: 1px;*/
        min-height:146px;
        padding-bottom:10px;

        
    }
    //.view-recent-portfolio-websites .view-content .span3,
    //#footer .container .row .span3{
    .view-recent-portfolio-websites .view-content .span3{
        width:90%;
        margin:1% 5%;
    }

    /*float image right and create fluid box*/
    .view-recent-portfolio-websites .views-field.views-field-field-cover-image{
        float:left;
        margin-right:10px;
        width:270px;
    }

    
    .view-recent-portfolio-websites .views-field.views-field-title span.field-content{
        
    }
    .view-recent-portfolio-websites .views-field.views-field-title span.field-content h4{
        margin:0;
        padding:0 10px;
        line-height: 18px;
        font-size: 18px;
    }


}

//@media (min-width:490px) and (max-width: 767px){
@media (max-width: 767px){
    #footer .container .row.triple .span3{
        width:46%;
        float:left;
        margin-top:20px;
    }
    

}
@media (max-width: 767px){
    

    #footer .container .row.triple .span3.first{
        width:95%;
        float:none;
    }
}

@media (max-width: 690px){
    /*
    .da-slide .da-img{
        top:90px;
    }
    */
}
@media (max-width: 630px){
    .da-slide p{
        line-height: 22px
    }
}
@media (max-width: 585px){
    .da-slide p{
        line-height: 20px;
        font-size: 14px;
    }
}
@media (max-width: 525px){
    .view-recent-portfolio-websites .view-content .span3{
        width:270px;
        margin: 1% auto;
        float: none;
    }
    .view-recent-portfolio-websites .views-field.views-field-field-cover-image{
        float:none;
        margin-right:0;
    }
    .view-recent-portfolio-websites .views-field-body{
        min-height: 1px;
    }
}






//extracted from bootstrap


@media (max-width: 530px) {
    .region .block ul.weblinks li{
        display: block;
        height:60px;
        width:95%;
        float:none;
        clear:both;
        margin:0;
        margin-right:2%;
        margin-bottom: 3px;
        padding:0;
  }
}
@media (max-width: 730px) {
    #header .row .logo,
    #header .row .top-social{
        float:none;
        width:100%;
        margin-left:0;
        text-align: center;
    }
    div.top-social{
        
    }
}
/* @media (min-width: 480px) and (max-width: 767px) { */
@media (max-width: 767px) {
    .page-node-210.sidebar-second #main-content{
        width:93%;
        float:none;
        margin-left:3%;
        
  }
  .page-node-210.sidebar-second .region-sidebar-second,
  body.sidebar-second .region-sidebar-second{
    float:none;
    width:94%;
    margin-left:5%;
  }
  .page-node-210.sidebar-second .region-sidebar-second div#social-links ul{
    float: none!important;
    width:99%;
  }
  .page-node-210.sidebar-second .region-sidebar-second div#social-links ul li{
    float: left;
    margin-right:5px;
  }
  /*
  .page-node-210 div#social-links ul{
    width:100%;
  }
  */
  ul.weblinks{
    display: block;
    /*width:40%;*/
  }
  .region ul.weblinks li{
    display: block;
    width:45%;
    float:left;
    clear:none;
    margin-right:3%;
    margin-left:1%;
    margin-bottom: 8px;
  }

  .pscroller .span3{
    width:25%;
  }
  .pscroller .span9{
    width:67%;
  }
  
}



@media (min-width: 768px) and (max-width: 979px) {
  .page-node-210.sidebar-second #main-content,
  body.sidebar-second #main-content{
        width:68%;
        float:left;
        margin-left:15px;
  }
  .page-node-210.sidebar-second .region-sidebar-second,
  body.sidebar-second .region-sidebar-second{
    width:25%;
  }
  .page-node-210.sidebar-second .region-sidebar-second ul.floatleft,
  .page-node-210.sidebar-second .region-sidebar-second ul.floatright{
    float: left!important;
  }

  .span3,
  .highlights .region  {
    width: 166px;
  }

  .single .span3 {
        width: 100%;
      }
      .double .span3 {
        width: 48%;
      }
      .triple .span3 {
        margin-left: 30px;
        width: 21%;
      }
      .triple .span3.first {
        margin-left: 20px;
        width: 47%;
      }
      .quad .span3 {
        width: 25%;
      }
      /*
      .none .span3 {
        width: 270px;
      }
      */


    #block-superfish-4 ul.menu li {
        margin-bottom: 1px;
    }

    #block-superfish-4 ul.menu, #block-superfish-4 ul.menu li, #block-superfish-4 ul.menu li a {
        font-size: 99%;
    }




  }

@media (min-width:615px) and (max-width:979px) {
    .region-sidebar-second{

    }
    .one-sidebar .region-sidebar-first {
      width:92%;
      margin-left:10px;
    }
    .one-sidebar .region-sidebar-first .block {
      width:45%;
      float:left;
    }
    .one-sidebar .region-sidebar-first .block .sbl-da-icon a {
        text-align: center;
        display: block;
    }
    .one-sidebar .region-sidebar-first .block .sbl-da-icon p a {
        text-align: left;
        display: inline;
    }
    .one-sidebar .region-sidebar-first .block .sbl-da-icon img {
        float: none;
        margin: 0 auto;
    }
}


@media (min-width: 980px) and (max-width: 1199px) {
    body.sidebar-first #main-content{
        width:65%;
    }
    body.sidebar-second #main-content{
        width:65%;
    }
    .page-node-210.sidebar-second #main-content{
       width:58%;
       float:left;
       margin-left:20px;
   }
    body.two-sidebars #main-content{
        width:60%;
    }
    
    body.two-sidebars .region-sidebar-second,
   body.two-sidebars .region-sidebar-first {
      width:18%;
   }
   .page-node-210.sidebar-second .region-sidebar-second{
    width:35%;
   }
   .region-sidebar-second,
    .region-sidebar-first {
      width:22%;
    }

    .single .span3 {
        width: 100%;
      }
      .double .span3 {
        width: 48%;
      }
      .triple .span3 {
        margin-left: 28px;
        width: 22%;
      }
      .triple .span3.first {
        margin-left: 20px;
        width: 47%;
      }
      .quad .span3 {
        width: 25%;
      }
      /*
      .none .span3 {
        width: 270px;
      }
      */
}




@media (min-width: 1200px) {
  [class*="span"],
  [class*="region-content-bottom-"],
  body.sidebar-second #main-content{
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  body.sidebar-first #main-content  {
    float: right;
    min-height: 1px;
    left: -40px;
    top: -5px;
  }
  body.no-sidebars #main-content  {
    float: none;
    min-height: 1px;
    /*margin-left: 30px;*/
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
    max-width: 1170px;
  }

  .tagline h3{
    font-size: 2.8em;
  }



  .span9,
  body.sidebar-second #main-content,
  body.sidebar-first #main-content {
   /*width: 820px;*/
   width: 70%; /*870/1200*/
  }
  .page-node-210.sidebar-second #main-content{
    width:63%;
  }

    .span6,
  body.two-sidebars #main-content  {
    width: 630px;
    float:left;
  }

  .span3,
  .highlights .region,
  .region-sidebar-second,
  .region-sidebar-first {
    width: 270px;
    /*width: 22.5%; */ /*270/1200*/
  }

  .single .span3 {
    width: 100%;
  }
  .double .span3 {
    width: 48%;
  }
  .triple .span3 {
    width: 22%;
  }
  .triple .span3.first {
    width: 50%;
  }
  .quad .span3 {
    width: 25%;
  }
  /*
  .none .span3 {
    width: 270px;
  }
  */


  .region-sidebar-second,
  .region-sidebar-first {
      width:22%;
  }
  .page-node-210 .region-sidebar-second{
      width:30%;
  }
}



