// Type styles
html, body, *{
	font-family: "chaparral-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}
// Headers, paragraphs

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6{
    color: #555555;
    font-family: inherit;
}


figure {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: top;
}

strong{
  	font-family: inherit;
	font-style: normal;
	font-weight: 600;
}

em{
  	font-family: inherit;
	font-style: italic;
	font-weight: 300;
}

h1{
    font-size: $h1-font-size;
    line-height: $h1-line-height;
    
    font-family: $h1-font-stack;

    margin-bottom: 1px;

    #main-content & {
    	color: $h1-colour;
    	font-size: $base-font-size*3.2;
		font-weight: 700;
		line-height: $base-line-height*3;
   		 /*text-shadow: 1px 1px 0px #7DAA66;*/

   		body.front.no-sidebars & {
		    color: darken($h1-colour, 30%);
		    font-size: $base-font-size*2;
		    font-weight: 400;
		    line-height: $base-line-height*2;
		    margin-bottom: 20px;
		    padding-bottom:20px;
		    @include h1BorderBottom;

		    @media screen and (max-width:495px){
		    	font-size: 22px;
		    }
		    @media screen and (max-width:395px){
        		line-height: $base-line-height*1.8;
        		margin-bottom: 5px;
        		padding-bottom: 5px;
		    
    		}
    		@media screen and (max-width:384px){
        		line-height: 28px;
        		padding: 0 20px 15px;
    		}
		}
    	//portfolio main listing page
		.not-front.two-sidebars.page-blog & {
			font-size: $base-font-size*2.5;
	      //reduce line heights to bring underline tight beleow text
	      //check for display across IE's
	      line-height: $base-line-height*1.6;
				margin-bottom: 20px;
				@include h1BorderBottom;

	      @media screen and (max-width: 979px) {
	        font-size: $base-font-size*2.3;
	        line-height: $base-line-height*1.5;
	      }
	      @media screen and (max-width: 710px) {
	        font-size: $base-font-size*2.1;
	        line-height: $base-line-height*1.4;
	      }
	      @media screen and (max-width: 652px) {
	        font-size: $base-font-size*1.9;
	        line-height: $base-line-height*1.3;
	      }
	      @media screen and (max-width: 629px) {
	        font-size: $base-font-size*2.2;
	        line-height: $base-line-height*1.55;
	        text-align: center;
	      }
	      @media screen and (max-width: 529px) {
	        font-size: $base-font-size*2;
	        line-height: $base-line-height*1.4;
	      }
	      @media screen and (max-width: 483px) {
	        font-size: $base-font-size*1.8;
	      }
	      @media screen and (max-width: 450px) {
	        font-size: $base-font-size*1.6;
	      }
	      @media screen and (max-width: 401px) {
	        font-size: $base-font-size*1.4;
	      }
		}
		.not-front.one-sidebar.node-type-page & {
			margin-bottom: 5px;
			padding-bottom:10px;
			@include h1BorderBottom;

		}
		body.no-sidebars &{
		    text-align: center;
		    font-size: $h1-font-size;
		    line-height: $base-line-height*2;
		    margin-bottom: 20px;
		    padding-bottom:20px;

		    @include h1BorderBottom;
		    
		}
   		body.maintenance-page & {
   		 	margin:5px 0 60px 20px!important;
   		}
    }
}



h2{
    font-size: $base-font-size*2;
    line-height: 20px;
	margin-bottom: 15px;

    .node-page & {
    	font-size: $base-font-size*2;
	    line-height: $base-line-height*1.8;
	    font-family: $h2-font-stack; 
	    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	    font-weight: bold;
	    margin:10px 0 0 0;	    
	    padding:0;	    
    }

    &.block-title{
    	font-size:$base-font-size*1.8;
	    font-family: $blocktitle-font-stack; 
    }
    .maintenance-page #main-content & {
    	margin:5px 0 10px 20px;
    	color:#5D7D43;
    }
}


h3{
    font-size: $base-font-size*1.8;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight:400;

    .node-page & {
    	font-size:$base-font-size*1.8;
	    line-height: 120%;
	    margin:10px 0 0 0;
	    font-family: $h3-font-stack;
	    color: #7DA817;
	    padding:0;
	    letter-spacing: 0.04px;
	    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	    font-weight: 100;
    }

    .node-page #inline-checklist & {
    	color: #555555;
    	font-size: $base-font-size*1.9;
    	font-family: $blocktitle-font-stack;
    }

    // Used on services page for section headers
    .tagline & {
    	display:block;
	    /*width:95%;*/
	    /*height:55px;*/ /*100*/
	    background-image: $bgimage-tagline;
	    background-repeat: no-repeat;
	    background-position: 0 0;

	    font-size: 2.6em;
	    line-height: 2em;
	    font-family: $h3-tagline-font-stack;
	    color: #f6f4c2;
	    text-align: right;
	    vertical-align: text-top;
	    text-indent: 75px;

	    padding-top: 35px;
	    padding-right:15px;

    }
    .portfolio &{
	    margin-top: 20px;
	    border-bottom: 1px dashed #efefef;
	    margin-bottom: 10px;
	    padding-bottom: 8px;
	    font-size: 16px;
	}
    .projects &{
	    text-transform: uppercase;
	    font-family: $h3-font-stack;
	}
	.title-divider & {
	    background-color: #FFFFFF;
	    display: inline-block;
	    font-family: $h3-font-stack;
	    font-size: 17px;
	    margin-bottom: 0 !important;
	    padding-right: 5px;
	    position: relative;
	    text-transform: uppercase;
	    z-index: 1000;
	}

}

#footer h2,
#footer h3{
    margin-bottom: 25px;
    margin-top:5px;
    font-size:170%;
    font-family: $blocktitle-font-stack;
    color: #7DA817;
    padding:0 0 15px 0;
    letter-spacing: 0.04px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: 100;
}


h4{
    font-size: 16px;
    margin-bottom: 16px;

    font-style: normal;
	font-weight: 300;

	font-family: $blocktitle-font-stack;

	#sidebar &{
	    font-size: 15px;
	    position: relative;
	    display: inline-block;
	    background-color: #fff;
	    padding-right: 15px;
	}

    .view-recent-portfolio-websites .views-field-title & {
    	font-size: $base-font-size*1.4;
    }

    article.span3 &{
	    margin-top: 0px;
	}

	.portfolio &{
	    & a{
		    color: #444;
		    text-align: center;
		    padding: 7px 10px;
		    display: block;
		    text-transform: none;
		    background-color: #fcfcfc;
		    border-bottom: 1px solid #eeeeee;

		    &:hover{
			    color: #fff;
			    background-color: #ffaf88;
			    border-bottom: 1px solid #f79f73;
			}

		}
		&:last-child{
			margin-bottom: 0 !important;
		}
	}

}
h5{
    font-size: 14px;
    margin-bottom: 14px;

    // headings contained within dropdown 
    // bg info panels
	.highlights-content &{
	    margin-top:20px;
	    font-size:$base-font-size*1.7;
	    font-family: $blocktitle-font-stack;

	    color: #7DA817;
	    padding:0 0 15px 0;
	    letter-spacing: 0.04px;
	    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
	    font-weight: 100;

	    font-style: normal;
		font-weight: 300;
	    
	}
//same breakpoint as background image sprite switch from narrow to wid
	//@media screeen and (min-width: 575px) {
		.highlights-content div:hover &{
			color: #ECECEC;
		}		
	//}

}

h6{
    font-size: 12px;
    margin-bottom:12px;
}



p{
    margin: 15px 0;
    line-height: $base-line-height*1.4;
    font-size: $base-font-size*1.35;
    font-family: $base-font-stack;

    * &:last-child{
	    margin-bottom: 0 !important;
	}
    &.intro{
	    line-height: $base-line-height;
    	font-size: $base-font-size;
    	//font-size:160%;
	    //line-height: 120%;
	    text-shadow: 2px 2px 2px #CDCDCD;
	    margin-top:0;
	    padding-top:10px!important;
	}
	.front #main-content & {
	    color: #323232;
	    //font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;;
	    font-size: $base-font-size*1.5;
	    line-height: $base-line-height*1.7;
	    margin:0 120px 10px 120px;

	    @media screen and (max-width: 800px) {
        	margin:0 20px 10px 20px;
      	}
	}
    /*
    .highlights &{
	    font-size: $base-font-size;
	}
	*/
	div.note &,
	&.note{
	    font-size: $base-font-size*0.85;
	    line-height: $base-line-height*0.9;

	}
	.maintenance-page #main-content &{
	    margin:15px 0 10px 25px;
	    font-style: 120%;
	    line-height: 120%;
	}



	.node-type-blog .node .field-type-text-with-summary &:first-child,
	.not-front.node-type-page .node .field-type-text-with-summary &.intro,
	.page-contact .region-help .block &:first-child{
	    position: relative;
	    line-height: $base-line-height*1.6;
    	font-size: $base-font-size*1.7;
    	//font-size:180%;
	    //line-height:135%;
	    color: #616161;
	    padding:15px 10px 0 0;

	    @media screen and (max-width: 650px) {
	    	line-height: $base-line-height*1.3;
    		font-size: $base-font-size*1.4;
	    }

	    @media screen and (max-width: 550px) {
	    	line-height: $base-line-height*1.2;
    		font-size: $base-font-size*1.2;
	    }

	}
	html body .node .field .field-item .maintenance-package &:first-child{
	    font-size:14px;
	    line-height:20px;
	    color:#787878;

	}

	.node-type-blog .node .field-type-text-with-summary &:first-child:first-line,
	.not-front.node-type-page .node .field-type-text-with-summary &.intro:first-line,
	.page-contact .region-help .block &:first-child:first-line,
	p.intro:first-child:first-line{
	    color:#425E2F;
	}

	.page-node-210 &.intro{
	    padding-top:0;
	    margin-top:0;
	}


	/*only show on services page*/
	#node-211 .span4 .content &:first-child{
	    font-size: 16px;
	    color: #5c5c5c;
	}
}


blockquote{
    margin: 20px 0;
    padding: 10px  10px 10px 30px;
    border-left: 3px solid #7DA817;
}

blockquote p{
    color: #999;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 0.02em;
    font-family: 'Georgia', serif;
}
code,
.code{
    display: block;
    padding:15px 8px;
}





















